
<% if params.dig(:page) %>
  <%= render partial: "feed/notes" %>
<% else %>
  <div class="container-fluid">
    <div id="note-content"></div>
    <div class="row" id="noteContent"></div>
    <div id="feed" class="row">
      <%= render partial: "feed/notes" %>
    </div>
  </div>
  <div id="custom-infinite-scrolling">
    <%= will_paginate @notes, style: " font-size: 0;" unless @notes.blank? rescue '' %>
  </div>
<% end %>


<style>

.custom-heart-icon {
  color: red;
  background-color: red;
  border: 2px solid red;
  border-radius: 50%;
  padding: 5px;
  font-size: 24px;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-containermyprofile {
  position: relative;
  overflow: hidden;
}
.card-picknote {
  width: 330px;
  border: none;
  border-radius: 15px;
  padding: 8px;
  background-color: #fff;
  position: relative;
  height: 268px;
  margin-left: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.image-containermyprofile img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}
.image-containermyprofile:hover img {
  transform: scale(1.1);
}
.image-containermyprofile:hover .hover-overlay {
  opacity: 1;
}
.background-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0) 90%);
  z-index: 1;
}
.hover-text {
  margin-right: 12rem;
  font-size: 20px;
  color: white;
  font-weight: bold;
  z-index: 2;
  margin-top:0px !important;

}
.hover-overlay {
  position: absolute;
  bottom: 0 !important;
  left: 0;
  width: 100%;
  height: 20% !important;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: flex-end; /* Align items to the bottom */
  opacity: 0;
  transition: opacity 0.3s ease;
  padding: 1rem;
  box-sizing: border-box;
  z-index: 2;
}

.overlay-content {
  margin-bottom: -17%;
  display: flex;
  flex-direction: column; /* Stack title and name vertically */
  align-items: flex-start; /* Align items to the left */
  margin-bottom: 10px; /* Add spacing between elements */
}

.truncate {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 20ch;
  color: white !important;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
}

.icons {
  display: flex;
  gap: 10px;
  z-index: 3;
}

.icons span {
  position: relative;
  z-index: 3;
}

#feed {
    overflow-y: auto; /* Allows vertical scrolling */
    max-height: 830px; /* Set a maximum height for the container */
}
</style>

<script>

  $(document).ready(function () {
    var $feed = $('#feed'); // The container holding your content

    if ($feed.length > 0) {
      $feed.on('scroll', function () {
        var more_posts_url = $('.pagination .next_page a').attr('href');

        // Calculate if scrolled to the bottom of #feed
        if (more_posts_url && $feed.scrollTop() + $feed.innerHeight() >= $feed[0].scrollHeight - 10) {
          
          if (!$(".infinite-scroll-loader").length) {
            $('div.pagination').prepend('<img class="infinite-scroll-loader" style="display: block; margin-left: auto; margin-right: auto;" src="<%= asset_path 'ajax-loader.gif' %>" alt="Loading..." title="Loading..." />');

            // Load more posts via AJAX
            setTimeout(function () {
              $.getScript(more_posts_url);
            }, 1500);
          }
        }
      });
    }
  });

  function truncateText(id, maxLength) {
    var element = document.getElementById(id);
    if (element.textContent.length > maxLength) {
      element.textContent = element.textContent.slice(0, maxLength) + '...';
    }
  }

  document.addEventListener("DOMContentLoaded", function() {
    truncateText('truncate-title', 10); // Adjust maxLength as needed
    truncateText('truncate-name', 10);  // Adjust maxLength as needed
  });
</script>
