
<% if @user == current_user %>

  <% if @notes.count > 0 %>
        <button class="btn btn-custom btn-block custom-btn-sm add-picnotes" id="newNoteModal" data-bs-toggle="modal" data-bs-target="#newNoteModal" style="display: flex; margin-bottom:20px; justify-content:center;margin-top:20px; width:15%;">Add New Picnotes</button>
    <div class='flex-center'>
    
      <div class='notes-container'>
        <% if @notes.where(archived: false).count > 0 %>
          <% @notes.where(archived: false).each do |note| %>
            <%= render partial: 'notes/note_general', locals: { note: note } %>
          <% end %>
        <% else %>
          
        <% end %>
      </div>
    </div>
  <% else %>
    <div class='empty' style='justify-content: center !important; display: flex; margin-top: 16%'>
      <%= image_tag 'empty-board.png', style: 'width: 20%;' %>
    </div>
    <p style="justify-content: center !important; display: flex;">You have not created any Picnotes yet.</p>
    <span style="justify-content: center !important; display: flex;">See how to create a Picnotes.</span>
    <button class="btn btn-custom btn-block custom-btn-sm mid-picnotes" id="newNoteModal" data-bs-toggle="modal" data-bs-target="#newNoteModal">Add New Picnotes</button>
  <% end %>
<% else %>
  <% if @notes.count > 0 %>
    <div class='flex-center'>
      <div class='notes-container'>
        <% if @notes.where(archived: false).count > 0 %>
          <% @notes.where(archived: false).each do |note| %>
            <%= render partial: 'notes/note_general', locals: { note: note } %>
          <% end %>
        <% else %>
          
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>

<style>
  .add-picnotes {
    display: flex;
    height: 40px;
    width: 14%;
    margin-left:auto;
    margin-right:20px;
    color: white !important;

  }

  .mid-picnotes {
    display: flex;
    height: 40px;
    width: 20%;
    justify-content: center !important;
    margin-left: 40%;
    margin-top: 10px;
    color: white !important;
    font: Aileron;
    Weight: 400;
    font-size: 16px;
  }
</style>

