<%= render './partials/user_dashboard' %>

<div id='note-content'></div>

<div class = 'flex-center'>
  <div class = "notes-container">

    <% if @notes.where(archived: false).count > 0 %>
      <div class = 'note-container'>
        <button
          type = 'button'
          style = 'padding: 0; border: none; background-color: transparent;'
          data-toggle = 'modal'
          data-target = '#newNoteModal'
          data-whatever = '@mdo'>
          <%= image_tag 'add.png', class: 'add-note-btn' %>
          <div class = 'note-container-text-center'>
            <p class = "mobile-font note-btn-font"> Add New Picnotes </p>
          </div>
        </button>
      </div>
      <% @notes.where(archived: false).each do |note| %>
        <%= render partial: 'notes/note_general', locals: {note: note} %>
  <% end %>
    <% else %>
      <% if @user == current_user %>
        <div>
          <div class="no-content-message" id="user-notes-no-data"></div>
          <div class="desc-content">
            <h1 class="black-heading">Share educational topics that you love</h1>
            <p class="italic-text">A: Choose a topic.</p>
            <p class="italic-text">B: Combine a picture to your notes.</p>
            <p class="italic-text">C: Share resources.</p>
            <p class="mp-0">
              <button type='button' style='border: none;background: transparent;' data-toggle='modal' data-target='#newNoteModal' data-whatever='@mdo'> <span class="circular-new">+</span> Get Started</button>
            </p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
