<body>
<div class='profile-dashboard'>
  <br>
  <div class="profile-menu">
    <p> <%= link_to 'About Us', about_us_notes_path, class: "current profile-links set-font-family" %> </p>
    <p> <%= link_to 'Community Guidelines', community_guideline_notes_path, class: " profile-links set-font-family" %>
    <p> <%= link_to 'Terms and Conditions', terms_and_conditions_notes_path, class: " profile-links set-font-family" %>
    <p> <%= link_to 'Contact Us', contact_us_notes_path, class: " profile-links set-font-family" %>
  </div>
</div>
<br>
<div class="container-fluid" style=" padding-right: 56px;" data-turbolinks="false">
  <div class="row">
    <div class="col-sm-3 about-us-col-sm-3 nav-justified" id="spy">
      <ul class="nav nav-fill nav-pillse flex-column set-font-family">
        <!--        <li class="nav-item"><a class="nav-link active text-bold fo-bold " id="g" href="#e"><h5>Our Starting Point</h5></a></li>-->
        <li class="nav-item">

          <a class="nav-link footer-color current  "  href="/notes/what_is_picnotes">
            <h5 class="text bold ">What is Picnotes?</h5></a>
        </li>
        <li class="nav-item"><a class="nav-link footer-color" href="/notes/educational_organizations">
          <h5 class="edu">Educational Organizations</h5></a>
        </li>
        <li class="nav-item"><a class="nav-link footer-color " href="/notes/freelance_research">
          <h5 class="fre">Freelance Researching</h5></a></li>
        <li class="nav-item"><a class="nav-link footer-color  " href="/notes/message_from_the_founder">
          <h5 class="msg">Message from the Founder</h5></a>
        </li>
      </ul>
    </div>
    <div class=" col-sm-9  scrollspy-example vertical-line" data-spy="scroll" data-target="#spy">

      <div class="set-font-family" style="text-align:justify;text-justify: inter-word" id="a">

        <h4>What is Picnotes?</h4>
        <p> We noticed two things:</p>
        <p> 1) Traditional educational websites confine us to reading and commenting on articles. </p>
        <p> 2) Great picture sharing platforms have minimal educational substance. </p>
        <p> So, where’s that great knowledge-sharing hub for conscious lifelong learners? </p>
        <p> Picnotes is an online knowledge-sharing website for conscious lifelong learners and freelance researchers.
          Our web platform integrates picture sharing to educational substance. The mission of Picnotes is to build a
          platform that enables users to share their knowledge simply and creatively. The platform is user-friendly and
          accessible to anyone who wants to learn and share educational topics with their followers and following. The
          members of our community view lifelong learning and knowledge-sharing as the ultimate way to connect with
          others, to build relationships and to create togetherness and solidarity. </p>
      </div>
    </div>
  </div>
</div>
<!-- ClickDesk Live Chat Service for websites -->
<script type='text/javascript'>
    var glc = _glc || [];
    glc.push('all_ag9zfmNsaWNrZGVza2NoYXRyEgsSBXVzZXJzGICAkIPm6qALDA');
    var glcpath = (('https:' == document.location.protocol) ? 'https://my.clickdesk.com/clickdesk-ui/browser/' :
        'http://my.clickdesk.com/clickdesk-ui/browser/');
    var glcp = (('https:' == document.location.protocol) ? 'https://' : 'http://');
    var glcspt = document.createElement('script');
    glcspt.type = 'text/javascript';
    glcspt.async = true;
    glcspt.src = glcpath + 'livechat-new.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(glcspt, s);
</script>
<!-- End of ClickDesk -->

</body>





