<div class="community_guideline_page">
  <section class="community-banner" style="top: 0;">
    <div class="container">
      <div class="community-quote">
          <h3>Try to treat others as you would want them to treat you.</h3>
          <p>- L. Ron Hubbard</p>
      </div>
    </div>
  </section>
  <section class="pt-5 mt_7 do-shadow">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h4 class="heading-dos">Dos</h4><%= image_tag "do.png",class: "img-dos"%>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <%= image_tag "do-banner.png",class: "dos-banner"%>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <ul class="list-dos">
            <li>Be kind and be polite.</li> 
            <li>Use your true identity.</li> 
            <li>Only share content that you wrote. </li>
            <li>Make sure that images that you upload 
              are appropriate. </li>
            <li>If you notice any inaccuracies or mistakes, 
            politely notify the uploader. </li>
            <li>Help us moderate by reporting any content 
            that shouldn't be on Picnotes. </li>
            <li>Foster meaningful relationships.</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="pt-5 ">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h4 class="heading-dont">Don'ts</h4><%= image_tag "dont.png",class: "img-dont"%>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <ul class="list-dos text-right">
            <li>Don't be rude.</li> 

            <li>Don't share offensive content.</li> 
   
            <li>Don't harass other users. </li>
   
            <li>Don't steal content from Wikipedia. </li>
   
            <li>Don't infringe copyright laws. </li>
             
            <li>Don't promote self-harm. </li>
             
            <li>Don't use profanities or foul language.</li>
          </ul>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <%= image_tag "dont-banner.png",class: "dont-banner"%>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-red">
    <div class="container">
      <div class="row">
        <div class="col-12">  
          <h3 class="heading-share">Don't know what to share?</h3>
          <p class="text-share">Take advantage of the platform to share educational topics 
          that are important to you or that might be underrated.</p>
        </div>
      </div>
    </div>
  </section>
</div>

<style>
    .about_us_notes_path{
        background: white !important;
        float: none !important;
    }
  .btn {
    display: inline-block;
    padding: 8px 20px;
    border-radius: 50px;
    background-color: white;
    color: #bc171d;
    text-decoration: none; /* Remove underline from links */
    transition: background-color 0.3s ease;
  }
  .icon-container {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    background-color: white;
    text-align: center;
    border: 1px solid grey;
    margin: -10px;
  }

  .icon-container i {
    font-size: 1rem;
    color: #bc171d;
    line-height: 40px; /* Center the icon vertically */
  }

  .foot-picnotes {
    padding-left: 30px;
  }

  .list-unstyled li {
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .text-red {
    color: #bc171d;
  }

  .logo-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .container {
    max-width: 1754px;
  }

  .form-control {
    padding: 10px !important;
    border-radius: 20px !important;
    border: 1px solid #ccc !important;
    outline: none;
  }

  .footer-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fde6e900;
  }
  .search-icon svg {
    fill: #fff;
    width: 24px;
    height: 24px;
  }
  .search-icon {
    background-color: #BC171D;
    padding: 5px;
    border-radius:30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:10px;
  }

</style>