<section class="contact-us-page">
  <div class="container pt-5">
    <div class="row">
      <div class="col-12">
        <h4 class="heading-contact">Contact Us</h4>
      </div>
    </div>
    <div class="row pt-5 mt-5">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <%= image_tag "message.png", alt: "message", class: "message" %>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <form action="/notes/contact_us_form" method="get">
          <div class="card">
            <h5 class="text-center heading-drop-line">Drop us a line</h5>
            <div class="contact-form">
              <div class="form-group pt-2">
                <input type="email" class="form-control" placeholder="Email" name="Email">
              </div>
              <div class="form-group pt-2">
                <textarea type="text" class="form-control" rows="3" placeholder="Message" name="Message"></textarea>
              </div>
              <div class="form-group pt-2">
                <% if flash[:notice].present? %>
                  <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <%= flash[:notice] %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <button type="Submit" class="btn-submit mb-5">Submit</button>
        </form>
      </div>
    </div>
  </div>
</section>

<style>
    .about_us_notes_path{
        background: white !important;
        float: none !important;
    }
  .btn {
    display: inline-block;
    padding: 8px 20px;
    border-radius: 50px;
    background-color: white;
    color: #bc171d;
    text-decoration: none; /* Remove underline from links */
    transition: background-color 0.3s ease;
  }
  .icon-container {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    background-color: white;
    text-align: center;
    border: 1px solid grey;
    margin: -10px;
  }

  .icon-container i {
    font-size: 1rem;
    color: #bc171d;
    line-height: 40px; /* Center the icon vertically */
  }

  .foot-picnotes {
    padding-left: 30px;
  }

  .list-unstyled li {
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .text-red {
    color: #bc171d;
  }

  .logo-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .container {
    max-width: 1754px;
  }

  .form-control {
    padding: 10px !important;
    border-radius: 20px !important;
    border: 1px solid #ccc !important;
    outline: none;
  }

  .footer-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fde6e900;
  }
  .search-icon svg {
    fill: #fff;
    width: 24px;
    height: 24px;
  }
  .search-icon {
    background-color: #BC171D;
    padding: 5px;
    border-radius:30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:10px;
  }

</style>