$("#profileDetails").html('<%=j render :partial => "partials/card_comment_like_note_modal", :locals => { :note => @note, :likes => @likes, :comments=> @comments}  %>');
$('#comment-modal<%=@note.id%>').modal('show');
$('.modal-backdrop.fade.show').first().remove();
$(".comment-icon-ed-tracker<%=@note.id%>").html('<%= link_to   fa_icon('comment') , comment_section_note_path(id: @note.id), remote: true %>')


//$('.edtracker_display_comment<%#=@selected_card_id %>').empty()
//$(".ed_tracker_comments<%#=@selected_card_id%>").empty();
//$(".ed_tracker_comments<%#=@selected_card_id%>").append(<%#=@card.card_comment_likes.count %>)
//$(".ed_tracker_comments<%#=@selected_card_id%>").append(" Comments")
//$(".comment-icon-ed-tracker<%#=@card.id%>").html('<%#= link_to   fa_icon('comment') , comment_section_edtracker_path(id: @card.id), remote: true %>')
//<p class="btn-rating comment-icon-ed-tracker<%#=lrn.id %> " ><%#=link_to  current_user_comment_on_card?(lrn) ? fa_icon('comment') : fa_icon('comment-o'), comment_section_edtracker_path(id: lrn.id), remote: true %></p>

<%# image_present  =  @card.card_comment_likes.last.user.avatar? rescue  false %>
<%# if image_present %>
//$(".ed_tracker_msg_img<%#=@card.id %>").html('<%#= image_tag @card.card_comment_likes.last.user.avatar.url(:thumb) , class: 'avatar-image', style: 'width: 50px; height: 50px;' %>')
<%#else%>
//$(".ed_tracker_msg_img<%#=@card.id %>").html('<%#= image_tag  "avatar.png" , class: 'avatar-image', style: 'width: 50px; height: 50px;' %>')
<%#end %>
//$('.edtracker_display_comment<%#=@selected_card_id %>').append("<%#= @ed_tracker_comment.body %>")
