<style>


</style>
<body>
<div class='profile-dashboard'>
  <br>
  <div class="profile-menu">
    <p> <%= link_to 'About Us', about_us_notes_path, class: "current profile-links set-font-family" %> </p>
    <p> <%= link_to 'Community Guidelines', community_guideline_notes_path, class: " profile-links set-font-family" %>
    <p> <%= link_to 'Terms and Conditions', terms_and_conditions_notes_path, class: " profile-links set-font-family" %>
    <p> <%= link_to 'Contact Us', contact_us_notes_path, class: " profile-links set-font-family" %>
  </div>
</div>
<br>
<div class="container-fluid" style=" padding-right: 56px;" data-turbolinks="false">
  <div class="row">
    <div class="col-sm-3 about-us-col-sm-3 nav-justified " id="spy">
      <ul class="nav nav-fill nav-pillse flex-column set-font-family">
        <!--        <li class="nav-item"><a class="nav-link active text-bold fo-bold " id="g" href="#e"><h5>Our Starting Point</h5></a></li>-->
        <li class="nav-item">

          <a class="nav-link footer-color  p " id="u" href="/notes/what_is_picnotes">
            <h5 class="text  ">What is Picnotes?</h5></a>
        </li>
        <li class="nav-item"><a class="nav-link footer-color current " href="/notes/educational_organizations">
          <h5 class="edu bold">Educational Organizations</h5></a>
        </li>
        <li class="nav-item"><a class="nav-link footer-color " href="/notes/freelance_research">
          <h5 class="fre">Freelance Researching</h5></a></li>
        <li class="nav-item"><a class="nav-link footer-color " href="/notes/message_from_the_founder">
          <h5 class="msg ">Message from the Founder</h5></a>
        </li>
      </ul>
    </div>
    <div class=" col-sm-9  scrollspy-example vertical-line" data-spy="scroll" data-target="#spy">
      <div class="set-font-family" style="text-align:justify;text-justify: inter-word" id="b">
        <h4 class="font-size-h4">Educational Organizations</h4>
        <p>
          We create customized portals for educational organizations such as:</p>
        <p> 1. Online course providers</p>
        <p> 2. Language learning centers</p>
        <p> 3. Colleges</p>
        <p>We'll add additional functionalities that will cater to your students and your teachers. We'll build a
          customized platform that will facilitate communication between classmates and between students and their
          teachers — creating a sense of community within the schools.</p>
        <p> For more information, contact us at info@picnotes.org
        </p>
      </div>

    </div>
  </div>
</div>


</body>



