
<style>


</style>
<body>
<div class='profile-dashboard'>
  <br>
  <div class="profile-menu">
    <p > <%= link_to 'About Us', about_us_notes_path, class: "current profile-links set-font-family" %> </p>
    <p> <%= link_to 'Community Guidelines', community_guideline_notes_path, class: " profile-links set-font-family" %>
    <p> <%= link_to 'Terms and Conditions', terms_and_conditions_notes_path, class: " profile-links set-font-family" %>
    <p> <%= link_to 'Contact Us', contact_us_notes_path, class: " profile-links set-font-family" %>
  </div>
</div>
<br>
<div class="container-fluid " style=" padding-right: 56px;" data-turbolinks="false">
  <div class="row">
    <div class="col-sm-3 about-us-col-sm-3 nav-justified " id="spy">
      <div class="nav-fill nav-pillse flex-column set-font-family">
        <!--        <li class="nav-item"><a class="nav-link active text-bold fo-bold " id="g" href="#e"><h5>Our Starting Point</h5></a></li>-->
        <i class="nav-item">

          <a class="nav-link footer-color " href="/notes/what_is_picnotes"><h5 class="text ">What is Picnotes?</h5></a>
        </i>
        <i class="nav-item"><a class="nav-link footer-color " href="/notes/educational_organizations"><h5 class="edu">Picnotes Edu.</h5></a>
        </i>
        <i class="nav-item"><a class="nav-link footer-color current " href="/notes/freelance_research"><h5 class="fre bold">Freelance Researching</h5></a></i>
        <i class="nav-item"><a class="nav-link footer-color " href="/notes/message_from_the_founder"><h5 class="msg">Message from the Founder</h5></a>
        </i>
      </div>
    </div>
    <div class=" col-sm-9  scrollspy-example vertical-line"  data-spy="scroll" data-spy="scroll" data-target="#spy">
      <div class="set-font-family" id="c">
        <h4 class="font-size-h4">Freelance Researching</h4>
        <p>
          <b>Coming Soon</b></p>
      </div>
    </div>
  </div>
</div>
<!-- ClickDesk Live Chat Service for websites -->
<script type='text/javascript'>
    var glc = _glc || [];
    glc.push('all_ag9zfmNsaWNrZGVza2NoYXRyEgsSBXVzZXJzGICAkIPm6qALDA');
    var glcpath = (('https:' == document.location.protocol) ? 'https://my.clickdesk.com/clickdesk-ui/browser/' :
        'http://my.clickdesk.com/clickdesk-ui/browser/');
    var glcp = (('https:' == document.location.protocol) ? 'https://' : 'http://');
    var glcspt = document.createElement('script');
    glcspt.type = 'text/javascript';
    glcspt.async = true;
    glcspt.src = glcpath + 'livechat-new.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(glcspt, s);
</script>
<!-- End of ClickDesk -->

</body>
