<div class='profile-dashboard'>
  <br>
  <div class="profile-menu">
    <p> <%= link_to 'About Us', about_us_path, class: "current profile-links set-font-family" %> </p>
    <p> <%= link_to 'Community Guidelines', guidelines_path, class: " profile-links set-font-family" %>
    <p> <%= link_to 'Terms and Conditions', terms_and_conditions_path, class: " profile-links set-font-family" %>
    <p> <%= link_to 'Contact Us', contact_us_notes_path, class: " profile-links set-font-family" %>
  </div>
</div>
<br>
<div class="container-fluid" style=" padding-right: 56px;" data-turbolinks="false">
  <div class="row">
    <div class="col-sm-3 about-us-col-sm-3 nav-justified" id="spy">
      <div class=" nav-fill flex-column set-font-family">
        <i>
          <a class="nav-link footer-color  " href="/notes/sharing_your_knowledge">
            <h5 class="shar" style="text-align: center">Sharing your knowledge</h5></a>
        </i>
        <!--    <li class="nav-item"><a class="nav-link footer-color pro" id="u" href="#b"><h5 class="prov">Providing resources</h5></a></li>-->
        <i>
          <a class="nav-link footer-color current" href="/notes/optimizing_your_dashboard">
            <h5 class="opti bold" style="text-align: center">Optimizing your dashboard</h5></a>
        </i>
        <i>
          <a class="nav-link footer-color " href="/notes/what_type_of_topics_you_should_share">
            <h5 class="what" style="text-align: center">What type of topics you should share?</h5></a></i>
        <i>
          <a class="nav-link footer-color " href="/notes/communication_and_interaction">
            <h5 class="comm" style="text-align: center">Communication and Interaction</h5></a>
        </i>
      </div>
    </div>
    <div class="col-sm-9 scrollspy-community set-font-family vertical-line" data-spy="scroll" data-target="#spy">
      <div class="set-font-family" style="text-align:justify;text-justify: inter-word" id="c">
        <h1 class="font-size-h4">Optimizing your dashboard</h1>
        <p>
          As soon as you log in, you will be taken to your dashboard. The dashboard has four tabs: </p>
        <dl>
          <dt> Feed</dt>
          <dd>Feed shows the Picnotes that your followers and following have created.</dd>
          <dt> Picnotes</dt>
          <dd> Picnotes shows the Picnotes that you created.</dd>
          <dt>Folders</dt>
          <dd> Folders is where you can organize your Picnotes into different folders.</dd>
          <dt>Faves</dt>
          <dd> Faves has the Picnotes that you "liked."</dd>
        </dl>
      </div>
    </div>
  </div>
</div>
