<div class='profile-dashboard'>
  <br>
  <div class="profile-menu">
    <p> <%= link_to 'About Us', about_us_notes_path, class: " profile-links set-font-family" %> </p>
    <p> <%= link_to 'Community Guidelines', community_guideline_notes_path, class: "current profile-links set-font-family" %>
    <p> <%= link_to 'Terms and Conditions', terms_and_conditions_notes_path, class: " profile-links set-font-family " %>
    <p> <%= link_to 'Contact Us', contact_us_notes_path, class: " profile-links set-font-family set-font-family" %>
  </div>
</div>
<br>
<div class="container-fluid" style=" padding-right: 56px;" data-turbolinks="false">
  <div class="row">
    <div class="col-sm-3 about-us-col-sm-3 nav-justified" id="spy">
      <ul class="nav nav-fill flex-column set-font-family">
        <li class="nav-item">
          <a class="nav-link footer-color sha" id="g" href="/notes/sharing_your_knowledge">
            <h5 class="shar ">Sharing your knowledge</h5></a>
        </li>
        <!--    <li class="nav-item"><a class="nav-link footer-color pro" id="u" href="#b"><h5 class="prov">Providing resources</h5></a></li>-->
        <li class="nav-item">
          <a class="nav-link footer-color opt" id="l" href="/notes/optimizing_your_dashboard">
            <h5 class="opti">Optimizing your dashboard</h5></a>
        </li>
        <li class="nav-item">
          <a class="nav-link footer-color current wha" id="o" href="/notes/what_type_of_topics_you_should_share">
            <h5 class="what bold">What type of topics you should share?</h5></a></li>
        <li class="nav-item ">
          <a class="nav-link footer-color com" id="t" href="/notes/communication_and_interaction">
            <h5 class="comm">Communication and Interaction</h5></a>
        </li>
      </ul>
    </div>
    <div class="col-sm-9 scrollspy-community set-font-family vertical-line"  data-spy="scroll" data-target="#spy">
      <div class="set-font-family" id="d" style="text-align:justify;text-justify: inter-word">
        <h4>What type of topics you should share?</h4>
        <p>
          Take advantage of the platform to share educational topics that are important to you or that might be
          underrated. The list of educational topics has no boundaries. However, here are suggestions of subject matters
          that you can share:
          History | science | geography | Philosophy | Music | Archaeology | Literature | Politics | Sociology |
          Economics | Arts | Anthropology | Zoology | Linguistics | Medicine | Technology | business | Nature |
          Mathematics | Physics | Finance

        </p>
      </div>
    </div>
  </div>
</div>
<script>
    $(document).ready(function () {
        $("#g").on({

            click: function () {
                $("#g").addClass("current", "profile-link");
                $("#u").removeClass("current");
                $("#u").removeClass("active");
                $("#l").removeClass("current");
                $("#l").removeClass("active");
                $("#o").removeClass("current");
                $("#o").removeClass("active");
                $("#t").removeClass("current");
                $("#t").removeClass("active");

            }
        });
        $("#u").on({

            click: function () {
                $("#g").removeClass("current");
                $("#g").removeClass("active");
                $("#u").addClass("current");
                $("#l").removeClass("current");
                $("#l").removeClass("active");
                $("#o").removeClass("current");
                $("#o").removeClass("active");
                $("#t").removeClass("current");
                $("#t").removeClass("active");


            }
        });
        $("#l").on({

            click: function () {
                $("#g").removeClass("current");
                $("#g").removeClass("active");
                $("#u").removeClass("current");
                $("#u").removeClass("active");
                $("#u").removeClass("current");
                $("#l").addClass("current");
                $("#o").removeClass("current");
                $("#o").removeClass("active");
                $("#t").removeClass("current");
                $("#t").removeClass("active");


            }
        });
        $("#o").on({

            click: function () {
                $("#g").removeClass("current");
                $("#g").removeClass("active");
                $("#u").removeClass("current");
                $("#u").removeClass("active");
                $("#u").removeClass("current");
                $("#l").removeClass("active");
                $("#l").removeClass("current");

                $("#o").addClass("current");
                $("#t").removeClass("current");
                $("#t").removeClass("active");


            }
        });
        $("#t").on({

            click: function () {
                $("#g").removeClass("current");
                $("#g").removeClass("active");
                $("#u").removeClass("current");
                $("#u").removeClass("active");
                $("#l").removeClass("current");
                $("#l").removeClass("active");
                $("#o").removeClass("current");
                $("#o").removeClass("active");
                $("#t").addClass("current");

            }
        });
    });

    $(".sha").click(function () {
        $(".shar").addClass("bold");

        $(".prov").removeClass("bold");
        $(".opti").removeClass("bold");
        $(".what").removeClass("bold");
        $(".comm").removeClass("bold");
    });
    $(".pro").click(function () {
        $(".shar").removeClass("bold");
        $(".prov").addClass("bold");
        $(".opti").removeClass("bold");
        $(".what").removeClass("bold");
        $(".comm").removeClass("bold");

    });
    $(".opt").click(function () {
        $(".shar").removeClass("bold");
        $(".prov").removeClass("bold");
        $(".opti").addClass("bold");
        $(".what").removeClass("bold");
        $(".comm").removeClass("bold");

    });
    $(".wha").click(function () {
        $(".shar").removeClass("bold");
        $(".prov").removeClass("bold");
        $(".opti").removeClass("bold");
        $(".what").addClass("bold");
        $(".comm").removeClass("bold");

    });
    $(".com").click(function () {
        $(".shar").removeClass("bold");
        $(".prov").removeClass("bold");
        $(".opti").removeClass("bold");
        $(".what").removeClass("bold");
        $(".comm").addClass("bold");


    });

</script>