<div class="flashcard-fields">
  <div class="field">
    <%= f.input :question, as: :text, required: true, label: "Question #{index}" %>
  </div>
  <div class="field">
    <%= f.input :answer, as: :text, required: true, label: "Answer #{index}" %>
  </div>
</div>
