<%= render './partials/user_dashboard' %>

<div id='note-content'></div>

<div class = 'flex-center'>
  <div class = "notes-container" style = 'margin-top: 20px;'>
    <% @favorites.each do |note| %>
      <div class = 'note-container'>
        <%= link_to(note_path(note), remote: true) do %>
        <%= image_tag note.image.url(:thumb) if note.image.present? %>
        <div class = 'note-container-text'>
          <p class = "mobile-font note-btn-font"> <%= truncate(note.title, length: 40) %> </p>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
