<%= render './partials/user_dashboard' %>

<div id='note-content'></div>

<div class = 'notes-outer-container'>
  <div class = "notes-container">
    <% @favorites.each do |note| %>

    <div class = 'note-container'>
      <%= link_to(note_path(note), remote: true) do %>
        <%= image_tag note.image.url(:thumb) if note.image.present? %>
        <div class = 'note-container-text'>
          <p class = "no-look-btn"> <%= truncate(note.title, length: 18) %> </p>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
