<% if @user == current_user %>
  <%= render './partials/user_dashboard' %>
<% else %>
  <%= render './partials/other_user_dashboard' %>
<% end %>

<div id='note-content'></div>

<div class='flex-center'>
  <div class="notes-container" style='margin-top: 20px;'>
    <% if @favorites.where(archived: false).count > 0 %>
      <% @favorites.where(archived: false).each_with_index  do |note, index| %>
        <%= render partial: 'notes/note_general', locals: {note: note,nextNote: @favorites[index].title} %>
  <% end %>
    <% else %>
      <% if @user == current_user %>
        <div>
          <div class="no-content-message" id="favorite-no-data"></div>
          <div class="desc-content">
            <h1 class="black-heading">Collect your favorite Picnotes</h1>
            <p class="italic-text">See all the Picnotes you've liked in one place.</p>
            <p class="mp-0">
              <button type='button' style='border: none;background: transparent;' data-toggle='modal' data-target='#newFolderModal' data-whatever='@mdo'> <span class="circular-new">+</span> Get Started</button>
            </p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
