<% if current_user == @user && current_user != nil && @user != nil && current_user.id == @folder.user_id %>
  <div style='text-align: center;'>
    <h2> Folder Name: <strong> <%= @folder.name %> </strong></h2>
    <%= link_to('Delete', folder_path(@folder), class: 'blue-appearance-btn', data: {confirm: 'Are you sure?'}, method: :delete) %>
  </div>
<% else %>
  <div style='text-align: center;'>
    <h1> Folder Name: <strong> <%= @folder.name %> </strong></h1>
    <%#= link_to('Delete', folder_path(@folder), class: 'blue-appearance-btn', data: {confirm: 'Are you sure?'}, method: :delete) %>
  </div>
<% end %>

<div id='note-content'></div>

<div class='flex-center'>
  <div class="notes-container" style='margin-top: 20px;'>
    <% @notes.each do |note| %>
      <%= render partial: 'notes/note_general', locals: {note: note} %>
  <% end %>
  </div>
</div>

<style>
#folder-picnote{
  margin-bottom:-12% !important;
}
#truncate-title{
  margin-bottom:0%!important;
}
</style>

