<script>
        var title = '';
        var url = '<%="users/"+@user.id.to_s+"-"+@user.username.parameterize%>';
        ChangeUrlForUsers(title, url)
</script>

<%= render './partials/other_user_dashboard' %>

<div id='note-content'></div>

<div class = 'flex-center'>
  <div class = "notes-container">
    <% if @notes.count > 0 %>
      <% @notes.each do |note| %>
        <%= render partial: 'notes/note_general', locals: {note: note} %>
      <% end %>
    <% else %>
      <% if @user == current_user %>
        <div>
          <div class="no-content-message" id="user-notes-no-data"></div>
          <div class="desc-content">
            <h1 class="black-heading">Share educational topics that you love.</h1>
            <p class="italic-text">A: Choose a topic.</p>
            <p class="italic-text">B: Combine a picture to your notes.</p>
            <p class="italic-text">C: Share resources.</p>
            <p class="mp-0">
              <button type='button' style='border: none;background: transparent;' data-toggle='modal' data-target='#newNoteModal' data-whatever='@mdo'> <span class="circular-new">+</span> Get Started</button>
            </p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
