<h1 class = 'text-center' style = 'margin-top: 30px;'><%= @tag.name %></h1>

<div id='note-content'></div>

<div class = 'flex-center'>
  <div class = "notes-container">
    <% @notes.where(archived: false).each do |note| %>
      <%= render partial: 'notes/note_general', locals: {note: note} %>
  <% end %>
  </div>
</div>
