<h1 class = 'text-center' style = 'margin-top: 30px;'>#<%= @tag.name %></h1>

<div id='note-content'></div>

<div class = "notes-container">
  <% @notes.each do |note| %>

  <div class = 'text-center'>
    <%= link_to(note_path(note), remote: true) do %>
      <%= image_tag note.image.url(:thumb) if note.image.present? %>
      <div class = 'note-container-text'>
        <p class = "blue-appearance-btn"> <%= truncate(note.title, length: 18) %> </p>
      </div>
    <% end %>
  </div>
  <% end %>
</div>
