<h1 class = "text-center"> Create New Board </h1>

<div class = "creation_form">
<%= form_for ([@user, @board]) do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.submit %>
<% end %>
</div>
