<% if reference.title.length > 0 %>
  <p> Title: <%= reference.title %> </p>
<% end %>

<% if reference.author.length > 0 %>
  <p> Author: <%= reference.author %> </p>
<% end %>

<% if reference.link.length > 8 %>
  <%= link_to truncate(reference.link, length: 40), reference.link, target: :_blank %>
<% end %>
<hr/>
