<% if reference.title.length > 0 %>
<p> Title: <%= reference.title %> </p>
<% end %>

<% if reference.author.length > 0 %>
<p> Author: <%= reference.author %> </p>
<% end %>

<% if reference.link.length > 8 %>
<p> <a href = '<%= reference.link %>'> <%= truncate(reference.link, length: 40) %></a> </p>
<% end %>
<hr/>
