<% if reference.title.length > 0 %>
  <p> Title: <%= reference.title %> </p>
<% end %>

<% if reference.author.length > 0 %>
  <p> Author: <%= reference.author %> </p>
<% end %>

<% if reference.link.length > 8 %>
  <%= link_to truncate(reference.link, length: 30), reference.link, target: :_blank %>
<% end %>

<p>
  <%= link_to(
    'Delete',
    reference_path(reference),
    data: {confirm: 'Are you sure?'},
    method: :delete,
    class: 'no-look-btn'
  ) %>
</p>
<hr/>
