$('#Textbooks').html("<%= j render @textbooks %>");
$('#Videos').html("<%= j render @videos %>");
$('#Papers').html("<%= j render @papers %>");
$('#Added-Reference').html("<p> Reference Added </p>")
$('#reference_form')[0].reset()
