<div id = 'introModal'>
  <div class = 'introModalStyle'>
    <button id = 'closeModal' class = 'blue-appearance-btn float-right'>
        <span aria-hidden = 'true'> &times; </span>
    </button>
    <div class = 'padding-20 text-center'>
      <%= image_tag 'logo-clean.png', class: 'intro-image' %>
      <h1 class = 'text-grey'> Share your Knowledge </h1>
      <p class = 'text-grey padding-bottom-20'> Join Picnotes, a platform full of knowledge essentials. </p>
      <button
        type = 'button'
        class = 'inverse-blue-btn'
        data-toggle = 'modal'
        data-target = '#newSessionModal'
        data-whatever = '@mdo'>
        Sign In
      </button>

      <button
        type = 'button'
        class = 'blue-btn'
        data-toggle = 'modal'
        data-target = '#newUserModal'
        data-whatever = '@mdo'>
        Sign Up
      </button>
    </div>
  </div>
</div>

<script>
$('#closeModal').click(function(){
  $('#introModal').toggle('.hidden')
})
</script>
