<div class="modal fade  community-learners-modal-dialog" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center mt-3 ">
            <%= image_tag 'one.png', class: 'img-learner mt_top4' %>
            <h6 class="heading-part h-part">Be part of a community of lifelong learners</h6>
          </div>
           <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center mt-1 ">
            <%= image_tag 'two.png', class: 'img-learner' %>
            <h6 class="h-part">Share your knowledge and learn from your friends</h6>
          </div>
        </div>
        <div class="row bg-grad text-center">
          <div class="col-4">
            <a href="#"><h6 class="h-grad"><span class="icon-magic"></span><span class="mb_6">Create</span></h6></a>
          </div>
          <div class="col-4">
            <a href="#"><h6 class="h-grad"><span class="icon-idea"></span>Organize</h6></a>
          </div>
          <div class="col-4">
            <a href="#"><h6 class="h-grad"><span class="icon-user-1"></span>Follow</h6></a>
          </div>
        </div>
      </div>
       <div class="modal-footer">
        <button
        type='button'
        class='btn-login mlt_3'
        data-toggle='modal'
        data-target='#newSessionModal'
        data-whatever='@mdo'
        >
        Log in
        </button>
        <button
          type='button'
          class='btn-signup-modal mlt_3'
          data-toggle='modal'
          data-target='#newUserModal'
          data-whatever='@mdo'>
          Sign up
        </button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
      $("#exampleModal").modal('show');
  });
</script>
