<div id = 'introModal'>
  <div class = 'introModalStyle'>
    <button id = 'closeModal' class = 'blue-appearance-btn float-right'>
        <span aria-hidden = 'true'> &times; </span>
    </button>
    <div class = 'padding-20 text-center'>
      <%= image_tag 'logo-clean.png', class: 'intro-image' %>
      <h1 class = 'text-grey'> Share your Knowledge </h1>
      <p class = 'text-grey padding-bottom-20'> Join Picnotes, a platform full of knowledge essentials. </p>
      <hr >
      <h1 class = 'text-grey' id="how-it-works" style='display: none'>How does it works?</h1>
      <!-- <button
        type = 'button'
        class = 'inverse-blue-btn'
        data-toggle = 'modal'
        data-target = '#newSessionModal'
        data-whatever = '@mdo'>
        Sign In
      </button> -->

<!--       <button
        type = 'button'
        class = 'blue-btn'
        data-toggle = 'modal'
        data-target = '#newUserModal'
        data-whatever = '@mdo'>
        Sign Up
      </button> -->
    <div class="row" style="margin-top: 20px;">
      <div class="col-md-4" id='choose-topic' style="display: none;">
        <h1 class = 'text-red'><i>Choose a topic</i></h1>
        <p class = 'text-grey padding-bottom-20' id='triangle' style="margin-top: 20px; display: none"><i>The Coral Triangle</i></p>
      </div>
      <div class="col-md-4" id='upload-pic' style="display: none;">
        <h1 class = 'text-red'><i>Upload a picture</i></h1>
        <!-- <div style="width: 258px;height: 179px;" id='div-image'>

        </div> -->
        <%= image_tag 'picnotes.png', style: 'margin-top:20px; display:none', id: 'picnotes-img' %>
        <h1 class = 'text-red' style="margin-top: 30px; font-size: 35px;" id="easy"><i>It's So Easy!</i></h1>
      </div>
      <div class="col-md-4" id='share-notes' style="display: none;">
        <h1 class = 'text-red'><i>Share your notes</i></h1>
        <p class = 'text-grey' style="margin-top: 20px;"><i>The  Coral Triangle is a 6  million km2 area  that stretches from Indonsia, Malaysia, Papua New Guinea the philippines, Soloman Island and Taimor Lester.</i></p>
      </div>
    </div>
    </div>
    <%= link_to 'Terms & Conditions', terms_and_conditions_notes_path, style: 'margin-left: 640px; display: none', id:'terms-conditions'%>
  </div>
</div>

<script>
$('#closeModal').click(function(){
  $('#introModal').toggle('.hidden')
})
</script>
