<div class = "signup-modal fade" id = 'newUserModal' tabindex='-1' role = 'dialog' aria-labelledby = 'newUserModalLabel' aria-hidden='true'>
  <div class = 'modal-dialog' role = 'document'>
    <div class = 'modal-content'>
      <div class = 'modal-header new-modal-header'>
        <h5 class = 'modal-title' id = 'newUserModalLabel' style = 'color: white;'> Create New User </h5>
        <button type = 'button' class = 'close' data-dismiss = 'modal' aria-label = 'Close'>
          <span aria-hidden = 'true'> &times; </span>
        </button>
      </div>

      <div class = 'modal-body'>
        <a href=<%= user_facebook_omniauth_authorize_path %> , class="fb btn">
          <i class="fa fa-facebook" style="text-align: left ;color:#ffffff;"></i>&nbsp;&nbsp; &nbsp;&nbsp; Connect with
          Facebook
        </a></div>
      <p style="text-align: center">OR</p>

      <div class = 'modal-body'>

        <a href=  <%=  user_google_oauth2_omniauth_authorize_path %> , class="fb btn" style="margin-top: 7px;">
          <i class="fa fa-google" style="text-align: left ;color:#ffffff;"></i>&nbsp;&nbsp; &nbsp;&nbsp; Connect with Google
        </a>
      </div>

      <p style="text-align: center">OR</p>
      <br/>
      <div class="container">

        <a href="#"   class="fb btn" style="background-color:#0095f0;"
            data-toggle='modal'
           data-target='#signupWithEmailModal'
           data-whatever='@mdo'
        >
          <i class="fa fa-envelope" style="text-align: left ;color:#ffffff;" ></i>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; Sign Up
          with Email
        </a></div> <br><br>

      </div>
    </div>
  </div>
</div>


