/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require chosen
 */
@import 'bootstrap';
@import 'font-awesome';

body {
  @import url('https://fonts.googleapis.com/css?family=Roboto');
  font-family: 'Roboto', sans-serif;
}

.image-upload > input {
  display: none;
}

.image-upload > label {
  cursor: pointer;
  text-align: center;
  padding-right: 0;
}

p {
  margin-bottom: 0;
  // word-break: break-all;
}

.avatar-image:hover {
  opacity: 0.5;
}

a:hover {
  color: #DDD;
}

h1 {
  font-size: 20px;
}

p {
  font-size: 18px;
}

.profile-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.profile-menu {
  display: flex;
  box-sizing: border-box;
  justify-content: space-around;
  padding-bottom: 5px;
  border-bottom: thick #ebf2f3 solid;
}

label {
  width: auto;
}

input {
  width: auto;
}

input#search {
  width: 200px;
  border-radius: 10px;
  border: none;
}

input.form-control {
}

.user-name {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.avatar-image {
  width: 100px;
  height: 100px;
  margin-left: 20px;
  border-radius: 50%;
}

.note-avatar-image {
  width: 50px;
  height: 50px;
  margin-left: 20px;
  border-radius: 50%;
}

.logo-image {
  width: 150px;
}

.profile-dashboard {
  padding-top: 20px;
  margin-bottom: 20px;
}

.profile-left {
  flex-basis: 50%;
  display: flex;
}

.profile-right {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

.board-spacer {
  width: 200px;
  height: 200px;
  margin: 0;
  padding: 0;
}

.modal-header-information {
  display: flex;
  width: 100%;
}

.modal-header-information-title {
  flex-basis: 50%;
}

.modal-header-information-content {
  flex-basis: 50%;
  justify-content: flex-end;
  text-align: right;
  display: flex;
}

input#search {
  width: 400px;
  border-radius: 25px;
}

.profile-center {
  display: none;
}

@media only screen and (max-width: 1075px) {
  input#search {
    width: 300px;
    border-radius: 25px;
  }

  .profile-header {
    flex-wrap: wrap;
  }

  .note-image {
    border-bottom-left-radius: 0 !important;
  }

  .like-color {
    border-bottom-left-radius: 10px;
  }
}

@media only screen and (max-width: 600px) {
  input#search {
    width: 50px;
    border-radius: 25px;
  }

  .profile-right {
    display: none;
  }

  .profile-center {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .profile-links {
    font-size: 10px;
  }

  .note-count {
    font-size: 10px;
  }

  .current {
    padding-bottom: 10px;
  }
}

.modal-backdrop {
}

.modal-backdrop .show {
  background-color: white;
  opacity: 0;
}

.profile-dashboard {
  background-color: white;
}

.follow-image {
  width: 200px;
}

.modal-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#searchtest {
  background-color: white;
  height: 26px;
  margin-left: -25px;
  border: none;
  border-radius: 25px;
}

.remove-padding {
  padding: 0;
}

.boards-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
}

.board-container {
  flex-basis: 200px;
  text-align: center;
  border: thin #EAB38B solid
}

.add-board-btn {
  width: 100%;
}

.board-test {
  display: flex;
  flex-wrap: wrap;
}

.board-test-image {
  flex-basis: 50%;
}

.image-size {
  width: 100% !important;
}

@media only screen and (max-width: 750px) {
  .board-container {
    flex-basis: 33%;
  }

  .board-container > a > img {
    width: 100%;
  }

  .follow-image {
    width: 100%;
  }

  .non-mobile {
    display: none;
  }
}

.modal-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-bottom: 0;
}

.modal-content {
  border-radius: 10px;
}

.note-image {
  border-bottom-left-radius: 10px;
}

.dislike-color {
  border-bottom-right-radius: 10px;
}

@media only screen and (max-width: 590px) {
  .modal-lg {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .header-link-pading{

  }
}

.user_first_name {
  flex-basis: 45%;
}

.user_last_name {
  flex-basis: 45%;
}

.password {
  flex-basis: 45%;
}

/* ---------------------------------------------------- Colors ---------------------------------------------------- */

$color-blue: #3b5998;
$color-white: white;
$color-grey: #666;
$color-red: #bc181d;
$color-light-blue: #8b9dc3;

/* ---------------------------------------------------- Text Style ---------------------------------------------------- */

/* Alignment */
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/* Text Color */
.text-white {
  color: $color-white;
}

.text-grey {
  color: $color-grey;
}

.text-red {
  color: #bc181d;
}

.set-font-family {
  font-family: Times;
}

/* ---------------------------------------------------- Alignment ---------------------------------------------------- */

/* Float */

.float-right {
  float: right;
}

/* Padding */

.remove-padding {
  padding: 0;
}

.padding-20 {
  padding: 20px;
}

.padding-bottom-20 {
  padding-bottom: 20px;
}

/* Margin */

.margin-right-20 {
  margin-right: 20px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

/* Flex */

.flex-center {
  display: flex;
  justify-content: center;
}

#sig {
  text-align: justify;
}

/* ---------------------------------------------------- Buttons ---------------------------------------------------- */

.blue-btn {
  color: $color-white;
  background-color: $color-blue;
  border: none;
  font-size: 15px;
  text-transform: uppercase;
  border: thin $color-blue solid;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}

.blue-btn:hover {
  color: $color-white;
  background-color: $color-light-blue;
  border: thin $color-blue solid;
}

.header-blue-btn {
  color: $color-white;
  background-color: $color-blue;
  border: none;
  font-size: 15px;
  text-transform: uppercase;
  border: thin $color-blue solid;
  border-radius: 5px;
  padding: 6px 10px;
  font-weight: bold;
  cursor: pointer;
}

.header-blue-btn:hover {
  color: $color-white;
  background-color: $color-light-blue;
  border: thin $color-blue solid;
}

.inverse-blue-btn {
  color: $color-blue;
  background-color: $color-white;
  border: none;
  font-size: 15px;
  text-transform: uppercase;
  border: thin $color-blue solid;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.inverse-blue-btn:hover {
  color: $color-white;
  background-color: $color-light-blue;
  border: thin $color-blue solid;
}

.white-btn {
  background-color: transparent;
  border: 0;
  color: $color-white;
}

.white-btn:hover {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.header-link {
  background-color: transparent;
  border: 0;
  color: $color-grey;
  cursor: pointer;
}

.header-link:hover {
  color: $black;
  text-decoration: none;
  //font-weight: bold;
}

.blue-appearance-btn {
  background-color: transparent;
  border: 0;
  color: $color-blue;
  cursor: pointer;
}

.blue-appearance-btn:hover {
  color: $color-light-blue;
  text-decoration: none;
  font-weight: bold;
}

.voilet-appearance-btn {
  background-color: transparent;
  border: 0;
  color:#bc1a1d;
}

.voilet-appearance-btn:hover {
  color:rgb(255,0,0);opacity:0.6;;
  text-decoration: none;
}

.sign-in-btn {
  background-color: transparent;
  border: 0;
  color:$color-blue;
  //padding-right: 20px;
  cursor: pointer;
}

.sign-in-btn:hover {
  color: $color-light-blue;
  text-decoration: none;
}



.new-note-btn {
  color: white;
  background-color: $color-blue;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.btn-width {
  width: 100%;
}

/* ---------------------------------------------------- Nav Bar ---------------------------------------------------- */

.navbar {
  background-color: $color-white;
  -webkit-box-shadow: 0 8px 6px -6px $color-grey;
  -moz-box-shadow: 0 8px 6px -6px $color-grey;
  box-shadow: 0 8px 6px -6px $color-grey;
  width: 100%;
  position: fixed;
  z-index: 10000;
}

.navbar-brand {
  color: $color-white;
}

.nav-spacing {
  height: 50px;
}

.search-bar {
  border-radius: 25px;
  background-color: $color-white;
  border: thin $color-blue solid;
}

/* ---------------------------------------------------- Profile Links ---------------------------------------------------- */

.profile-links {
  color: $color-blue;
}

a.profile-links:active {
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: thick $color-blue solid;
}

.current {
  text-decoration: none;
  font-weight: 700;
  padding-bottom: 8px;
  border-bottom: thick $color-blue solid;
}

a.profile-links:hover {
  color: $color-blue;
  font-weight: 700;
  text-decoration: none;
  padding-bottom: 8px;
  border-bottom: thick $color-blue solid;
}

.note-count {
  color: $color-blue;
}

.picnotes-font {
  font-size: 20px;
  font-weight: 700;
  color: $color-blue;
}

/* ---------------------------------------------------- Intro Modal ---------------------------------------------------- */

#introModal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(70, 70, 70, 0.7);
  z-index: 9;
}

.introModalStyle {
  width: 850px;
  min-width: 250px;
  max-height: 615px;
  position: absolute;
  top: 320px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  border: thin $color-white solid;
  border-radius: 10px;
}

.mobile-easy {
  display: none;
}

.intro-image {
  width: 200px;
  #padding-bottom: 20px;
  #border-bottom: 1px $color-red solid;
  margin-bottom: 10px;
}

@media only screen and (max-width: 800px) {
  .introModalStyle {
    width: 600px;
  }
  .header-link-pading{

  }
}

@media only screen and (max-width: 600px) {
  .introModalStyle {
    width: 300px;
    top: 235px;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 440px;
  }
  .desktop-easy {
    display: none;
  }
  .mobile-easy {
    display: block;
  }
  .margin-for-mobile {
    margin-top: 10px;
  }
  .img-thumbnail {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
  }
}

/* Forms */

.form-control {
  border-color: $color-blue;
}

.image-upload-box {
  border: thin $color-blue solid;
  padding: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

/* ---------------------------------------------------- about-us ---------------------------------------------------- */
.scrollspy-example {
  position: relative;
  height: 500px;
  overflow: auto;
}

.scrollspy-community {
  position: relative;
  height: 420px;
  overflow: auto;
}

/* ---------------------------------------------------- footer ---------------------------------------------------- */
.sign-in-link {
  background-color: transparent;
  //text-transform: uppercase;
  //font-size: 14px;
  border: 0;
  color: #428bca;
  cursor: pointer;
  font-weight: 550;
}
.sign-in-link:hover {
  color: #1c71ba;
  font-weight: 600;
  text-decoration: none;
  //font-weight: bold;
}

.footer {

  left: 0;
  bottom: 0;
  width: 100%;
  //background-color: #303030;
  color: white;
  text-align: right;
  height: 50px;

  background-color: white;
  box-shadow: -1px 3px 7px 0px #666;
  width: 100%;
  //position: fixed;
  z-index: 10000;
}

.footer-color {
  color: #230e07;
}

a.pfooter-color:active {
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: thick #ff5468 solid;
}

.fo-bold {
  text-decoration: none;
  font-weight: 900;
  color: #bc1a1d;
}

.about-us-col-sm-3 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 83px;
  padding-left: 52px;
}

.bold {
  font-weight: bold;
}

.col-sm-9 {
  padding-right: 314px;
}

.vertical-line {
  padding-left: 85px;
  border-left: 1px solid #ccc;

}

.center-align {
  text-align: center;
}

.contact-us-form-box {
  max-width: 500px;
  margin: auto;
  padding: 50px;
  background: #ffffff;
  border: 5px solid #f2f2f2;
}

.font-size-h4 {
  font-size: 25px;
}

.footer-row {
  padding-top: 10px;
}

.font-size-h5 {
  font-size: 25px;
}
.contact-us{
  font-size: 18px;
}
.mobile-display{
  display: none;
}

.full-display{

}

.img-logo-responsive{
  padding-right: 16px;
  width: 110px;
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (max-width: 600px) {
  .col-sm-9 {
    padding-right: 0px;
  }
  .vertical-line {
    padding-left: 30px;
    border-left: 0px;

  }
  .about-us-col-sm-3 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 31px;
    padding-left: 52px;
  }
  .contact-us-form-box {
    max-width: 304px;
    margin: auto;
    padding: 17px;
    background: #ffffff;
    border: 5px solid #f2f2f2;
  }
  .footer-row {
    padding-top: 0px;
  }
  p {
    font-size: 16px;
  }

  .font-size-h4 {
    font-size: 20px;
  }

  .font-size-h5 {
    font-size: 19px;
  }
  .contact-us{
    font-size: 14px;
  }
  .header-link-pading{

  }

  .full-display{
    display: none;
  }
  .mobile-display{
    display: block;

  }

}

/* ---------------------------------------------------- header ---------------------------------------------------- */
.header-link-pading{
  margin-left: -273px;
  margin-right: 38px;
}

/* ---------------------------------------------------- Mobile-nav ---------------------------------------------------- */


.topnav {
  overflow: hidden;
  /*background-color: #333;*/
  background-color: white;
  box-shadow: 0 8px 6px -6px #666;
  width: 100%;
  position: fixed;
  z-index: 10000;
}

.topnav a {
  float: left;
  display: block;
  color: $color-grey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #565e6733;
  color: black;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
    background-color:#1e1e1db3;
    padding-top: 11px;
    margin-top: 9px;
    margin-right: 4px
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  input#search {
    width:117px;
    border-radius: 25px;
  }
}
.sign-up-button{

}

.iphone-screen{

}
//.img-logo-responsive{
//  padding-right: 16px;
//  width: 120px;
//  margin-right: auto;
//  margin-left: auto;
//}

@media screen and (max-width: 330px) {
   .iphone-screen{
  padding-left: 0px;
  margin-left: -22px;}

  .sign-up-button{
    margin-left: 9px;
  }
  .img-logo-responsive{
  padding-right: 16px;
  width: 102px;
  margin-right: auto;
  margin-left: auto;}
}
