/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require chosen
 *= require dropzone/dropzone
 */

 @import 'bootstrap';
 @import 'font-awesome';

 .image-upload > input{
   display: none;
 }

 .image-upload > label{
   cursor: pointer;
   text-align: center;
   padding-right: 0;
 }

 p{
   margin-bottom: 0;
   // word-break: break-all;
 }

 .avatar-image:hover{
   opacity: 0.5;
 }

 a:hover{
   color: #DDD;
 }

 h1{
   font-size: 20px;
 }

 p{
   font-size: 18px;
 }

.profile-header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

 .profile-menu{
   display: flex;
   box-sizing: border-box;
   justify-content: space-around;
   padding-bottom: 5px;
   border-bottom: thick #ebf2f3 solid;
 }

label{
  width: auto;
}

input{
  width: auto;
}

input#search{
  width: 200px;
  border-radius: 10px;
  border: none;
}

input.form-control{
}

.user-name{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.avatar-image{
  width: 100px;
  height: 100px;
  margin-left: 20px;
  border-radius: 50%;
}

.note-avatar-image{
  width: 50px;
  height: 50px;
  margin-left: 20px;
  border-radius: 50%;
}

.logo-image{
  width: 150px;
}

.profile-dashboard{
  padding-top: 20px;
  margin-bottom: 20px;
}

.profile-left{
  flex-basis: 50%;
  display: flex;
}

.profile-right{
  display: flex;
  align-items: center;
}

a{
  text-decoration: none;
}

.board-spacer{
  width: 200px;
  height: 200px;
  margin: 0;
  padding: 0;
}

.picnotes-font{
  font-size: 20px;
  font-weight: 700;
  color: #EAB38B;
}

.modal-header-information{
  display: flex;
  width: 100%;
}

.modal-header-information-title{
  flex-basis: 50%;
}

.modal-header-information-content{
  flex-basis: 50%;
  justify-content: flex-end;
  text-align: right;
  display: flex;
}

input#search{
  width: 400px;
  border-radius: 25px;
}

.profile-center{
  display: none;
}

@media only screen and (max-width: 1075px){
  input#search{
    width: 300px;
    border-radius: 25px;
  }

  .profile-header{
    flex-wrap: wrap;
  }

  .note-image{
    border-bottom-left-radius: 0 !important;
  }

  .like-color{
    border-bottom-left-radius: 10px;
  }
}

@media only screen and (max-width: 600px){
  input#search{
    width: 50px;
    border-radius: 25px;
  }

  .profile-right{
    display: none;
  }

  .profile-center{
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .profile-links{
    font-size: 10px;
  }

  .note-count{
    font-size: 10px;
  }

  .current{
    padding-bottom: 10px;
  }
}

.modal-backdrop {
}

.modal-backdrop .show{
  background-color: white;
  opacity: 0;
}

.profile-dashboard{
  background-color: white;
}

.follow-image{
  width: 200px;
}

.modal-header{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#searchtest{
  background-color: white;
  height: 26px;
  margin-left: -25px;
  border: none;
  border-radius: 25px;
}

.remove-padding{
  padding: 0;
}

.boards-container{
  display: flex;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
}

.board-container{
  flex-basis: 200px;
  text-align: center;
  border: thin #EAB38B solid
}

.add-board-btn{
  width: 100%;
}

.board-test{
  display: flex;
  flex-wrap: wrap;
}

.board-test-image{
  flex-basis: 50%;
}

.image-size{
  width: 100% !important;
}

@media only screen and (max-width: 750px){
  .board-container{
    flex-basis: 33%;
  }

  .board-container > a > img {
    width: 100%;
  }

  .follow-image{
    width: 100%;
  }

  .non-mobile{
    display: none;
  }

  .mobile-font{
    font-size: 12px;
  }
}

.modal-header{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-bottom: 0;
}

.modal-content{
  border-radius: 10px;
}

.note-image{
  border-bottom-left-radius: 10px;
}

.dislike-color{
  border-bottom-right-radius: 10px;
}

.mobile-font{
  font-size: 15px;
}

@media only screen and (max-width: 590px){
  .modal-lg{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

.user_first_name{
  flex-basis: 45%;
}

.user_last_name{
  flex-basis: 45%;
}

.password{
  flex-basis: 45%;
}

/* ---------------------------------------------------- Colors ---------------------------------------------------- */

 $color-blue: #3b5998;
 $color-white: white;
 $color-grey: #666;
 $color-red: #bc181d;
 $color-light-blue: #8b9dc3;

/* ---------------------------------------------------- Text Style ---------------------------------------------------- */

/* Alignment */
.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

/* Text Color */
.text-white{
  color: $color-white;
}

.text-grey{
  color: $color-grey;
}

/* ---------------------------------------------------- Alignment ---------------------------------------------------- */

/* Float */

.float-right{
  float: right;
}

/* Padding */

.remove-padding{
  padding: 0;
}

.padding-20{
  padding: 20px;
}

.padding-bottom-20{
  padding-bottom: 20px;
}

/* Margin */

.margin-right-20{
  margin-right: 20px;
}

/* Flex */

.flex-center{
  display: flex;
  justify-content: center;
}

/* ---------------------------------------------------- Buttons ---------------------------------------------------- */

.blue-btn{
  color: $color-white;
  background-color: $color-blue;
  border: none;
  font-size: 15px;
  text-transform: uppercase;
  border: thin $color-blue solid;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.blue-btn:hover{
  color: $color-white;
  background-color: $color-light-blue;
  border: thin $color-blue solid;
}

.inverse-blue-btn{
  color: $color-blue;
  background-color: $color-white;
  border: none;
  font-size: 15px;
  text-transform: uppercase;
  border: thin $color-blue solid;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.inverse-blue-btn:hover{
  color: $color-white;
  background-color: $color-light-blue;
  border: thin $color-blue solid;
}

.white-btn{
  background-color: transparent;
  border: 0;
  color: $color-white;
}

.white-btn:hover{
 color: rgba(255, 255, 255, 0.5);
 text-decoration: none;
}

.blue-appearance-btn{
  background-color: transparent;
  border: 0;
  color: $color-blue;
}

.blue-appearance-btn:hover{
  color: $color-light-blue;
  text-decoration: none;
}

.new-note-btn{
  color: white;
  background-color: $color-blue;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.btn-width{
  width: 100%;
}

/* ---------------------------------------------------- Nav Bar ---------------------------------------------------- */

.navbar{
  background-color: $color-white;
  -webkit-box-shadow: 0 8px 6px -6px $color-grey;
  -moz-box-shadow: 0 8px 6px -6px $color-grey;
  box-shadow: 0 8px 6px -6px $color-grey;
  width: 100%;
  position: fixed;
  z-index: 10;
}

.navbar-brand{
  color: $color-white;
}

.nav-spacing{
  height: 50px;
}

.search-bar{
  border-radius: 25px;
  background-color: $color-white;
  border: thin $color-blue solid;
}

/* ---------------------------------------------------- Profile Links ---------------------------------------------------- */

.profile-links{
  color: $color-blue;
}

a.profile-links:active{
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: thick $color-blue solid;
}

.current{
  text-decoration: none;
  font-weight: 700;
  padding-bottom: 8px;
  border-bottom: thick $color-blue solid;
}

a.profile-links:hover{
  color: $color-blue;
  font-weight: 700;
  text-decoration: none;
  padding-bottom: 8px;
  border-bottom: thick $color-blue solid;
}

.note-count{
  color: $color-blue;
}

/* ---------------------------------------------------- Intro Modal ---------------------------------------------------- */

#introModal{
  position: fixed;
  width: 100vw;
  height: 95vh;
  background-color: rgba( 70, 70, 70, 0.7);
  z-index: 9;
}

.introModalStyle{
  width: 800px;
  min-width: 250px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  border: thin $color-white solid ;
  border-radius: 10px;
}

.intro-image{
  width: 300px;
  padding-bottom: 20px;
  border-bottom: 1px $color-red solid;
  margin-bottom: 20px;
}

@media only screen and (max-width: 800px){
  .introModalStyle{
    width: 600px;
  }
}

@media only screen and (max-width: 600px){
  .introModalStyle{
    width: 300px;
  }
}

/* Forms */

.form-control{
  border-color: $color-blue;
}

.image-upload-box{
  border: thin $color-blue solid;
  padding: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}
