// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image-container{
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  height: 200px;
}
.image-container-individual{
  flex-basis: 100px;
}
