/* ---------------------------------------------------- Colors ---------------------------------------------------- */

 $color-blue: #3b5998;
 $color-white: white;
 $color-grey: #666;
 $color-red: #bc181d;
 $color-light-blue: #8b9dc3;

 /* ---------------------------------------------------- Folders ---------------------------------------------------- */

 .folder-container{
   display: flex;
   flex-basis: 200px;
   flex-wrap: wrap;
 }
