/* ---------------------------------------------------- Colors ---------------------------------------------------- */

 $color-blue: #3b5998;
 $color-white: white;
 $color-grey: #666;
 $color-red: #bc181d;
 $color-light-blue: #8b9dc3;

 /* ---------------------------------------------------- Folders ---------------------------------------------------- */

 .folder-container{
   display: flex;
   flex-basis: 200px;
   flex-wrap: wrap;
 }

 @media only screen and (min-width: 1100px){
   .folder-container:not(:nth-child(5n)){
     margin-right: 12.5px;
   }
 }

 @media only screen and (max-width: 1100px) and (min-width: 900px){
   .folder-container:not(:nth-child(4n)){
     margin-right: 12.5px;
   }
 }

 @media only screen and (max-width: 900px) and (min-width: 700px){
   .folder-container:not(:nth-child(3n)){
     margin-right: 12.5px;
   }
 }

 @media only screen and (max-width: 700px){
   .folder-container{
     flex-basis: 30%;
   }

   .folder-container > a > img{
     width: 100%;
   }

   .folder-container:not(:nth-child(3n)){
     margin-right: 5%;
   }
 }
