/* ---------------------------------------------------- Modal ---------------------------------------------------- */

.modal-lg{
  max-width: 1000px;
  width: 80%;
}

.modal-content{
  border-radius: 25px;
  border: thin #3b5998 solid;
}
