/* ---------------------------------------------------- Modal ---------------------------------------------------- */

.modal{
  background-color: rgba(0,0,0,0.6);
}

.modal-lg{
  max-width: 1000px;
  width: 80%;
}

.modal-content{
  border-radius: 25px;
  border: thin #3b5998 solid;
}

.modal-dialog{
  margin-top: 70px !important;
}
