// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.add-note-btn{
  width: 100%;
}

.note-btn-font{
  font-size: 14px;
}

.creation_form{
  text-align: center;
  margin-left: 5%;
  width: 90%;
  margin-right: 5%;
}


.note-page-container{
  margin-left: 20%;
  margin-right: 20%;
}

.note-page-title{
  display: flex;
  justify-content: space-between;
}

.note-page-content{
  display: flex;
  justify-content: space-between;
}

.like-container{
  display: flex;
}

.like-tab{
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  flex-basis: 50%;
  color: white;
}

.like-color{
  background-color: #90ee90 !important;
}

.dislike-color{
  background-color: #e44e4e !important;
}

.show-page-container{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.show-page-tab{
  margin-bottom: 0 !important;
}

.select-board{
  text-align: center;
}

.note-arrow{
  flex-basis: 10%;
  text-align: center;
}

/* ---------------------------------------------------- Colors ---------------------------------------------------- */

 $color-blue: #3b5998;
 $color-white: white;
 $color-grey: #666;
 $color-red: #bc181d;
 $color-light-blue: #8b9dc3;

/* ---------------------------------------------------- Grid ---------------------------------------------------- */

/* Note Display */

.notes-container{
  display: -ms-grid;
  display: grid;
  grid-template-columns: 202px 202px 202px 202px 202px;
  -ms-grid-template-columns: 202px 202px 202px 202px 202px;
  -ms-grid-columns: 202px 202px 202px 202px 202px;
  grid-gap: 10px;
  grid-row-gap: 10px;
}

@media only screen and (max-width: 1100px){
  .notes-container{
    grid-template-columns: 202px 202px 202px 202px;
  }
}

@media only screen and (max-width: 890px){
  .notes-container{
    grid-template-columns: 202px 202px 202px;
  }
}

@media only screen and (max-width: 670px){
  .notes-container{
    width: 90%;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 5%;
    grid-row-gap: 10px;
  }
}

/* Similar Display */

.similar-notes-container{
  display: -ms-grid;
  display: grid;
  grid-template-columns: 90px 90px 90px;
  grid-gap: 3px;
}

.similar-note-image{
  width: 100%;
}

@media only screen and (max-width: 1250px){
  .similar-notes-container{
    grid-template-columns: 100px 100px 100px;
  }
}

@media only screen and (max-width: 1075px){
  .similar-notes-container{
    grid-template-columns: 200px 200px 200px;
  }
}

@media only screen and (max-width: 825px){
  .similar-notes-container{
    grid-template-columns: 150px 150px 150px;
  }
}

@media only screen and (max-width: 630px){
  .similar-notes-container{
    grid-template-columns: 125px 125px;
  }
}

.similar-container{
  display: flex;
  flex-wrap: wrap;
}

.tabcontent{
  padding: 0;
}

/* Tab Display */

/* Style the tab */
.tab{
    overflow: hidden;
    display: flex;
    border: 1px solid $color-grey;
    background-color: $color-blue;
    justify-content: space-between;
}

.tablinks{
  flex-basis: 33%;
  color: $color-white;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: $color-light-blue;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: $color-light-blue;
}

/* Style the tab content */
.tabcontent {
    display: none;
    border-top: none;
}

/* Reference Display */

.reference-tabs{
  display: flex;
  width: 100%;
  height: 50px;
  font-size: 10px;
  border-bottom: thick $color-light-blue solid;
  justify-content: space-between;
  margin-bottom: 10px;
}

.reference-tab{
  flex-basis: 33%;
  background-color: $color-white;
  border: 0;
  border-bottom: thick $color-light-blue solid;
  margin-bottom: -4px;
}

.reference-tab:hover{
  border-bottom: thick $color-blue solid;
}

/* Notes Overflow */

.notes-overflow{
  height: 402px;
  overflow: scroll;
  border-bottom: thin $color-grey solid;
  margin-left: 10px;
  margin-right: 10px;
}

.note-page-text{
  width: 300px;
}

.note-page-content-text{
  margin-top: 20px;
}

/* Individual Note Title */

.note-container-text{
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  word-wrap: break-word;
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  height: 2.4em;
  text-align: left;
  color: $color-grey;
}

.note-container-text-center{
  margin-top: 0.4em;
  // word-wrap: break-word;
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  height: 2.4em;
  text-align: center;
  color: $color-grey;
}

/* Note Menu */

#note_menu{
  position: absolute;
  margin-top: 28px;
  background-color: $color-white;
  width: 150px;
  z-index: 99;
  border: thin $color-blue solid;
}

.hidden{
  display: none;
}

/* Modal Header */

.new-modal-header{
  background-color: $color-blue;
}

/* Show Page */

.show-page-container{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  border: thin $color-grey solid;
}

.show-page-tab{
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.show-page-tab-left{
  flex-basis: 50%;
}

.show-page-tab-right{
  flex-basis: 50%;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 1075px){
  .note-page-content{
    flex-wrap: wrap;
  }

  .note-page-text{
    flex-basis: 100%;
  }

  .note-image{
    width: 100%;
    height: 100%;
  }

  .note-arrow{
    display: none;
  }

  .note-mobile-image{
    flex-basis: 100%;
  }

}

@media only screen and (max-width: 675px){
  // .text-center{
  //   flex-basis: 33%;
  // }

  .text-center > a > img {
    width: 100%;
  }

  .show-page-container{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}
