// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hello {
  text-align: center;
}

.notes-container {
  display: flex;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  flex-wrap: wrap;
}

.note-container{
  flex-basis: 200px;
  text-align: center;
  border: thin solid #666666;
}

.note-container-text{
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.creation_form{
  text-align: center;
}


.note-page-container{
  margin-left: 20%;
  margin-right: 20%;
}

.note-page-title{
  display: flex;
  justify-content: space-between;
}

.note-page-content{
  display: flex;
  justify-content: space-between;
}

.notes-overflow{
  height: 450px;
  overflow: scroll;
  border-bottom: thin #ddd solid;
  margin-left: 20px;
  margin-right: 20px;
}

.like-container{
  margin-left: 20px;
  margin-bottom: 20px;
}

.select-board{
  margin-left: 20px;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}
