
button.btn-bottom-request.sigup.join.joi {
    font-size: 20px;
    margin-bottom: 24px;
    border: 1px solid #bc171d;
    background: transparent;
    color: #bc171d;
    line-height: 5px;
    border-radius: 27px;
}

.flex-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

a:hover {
    text-decoration: none;
}

@font-face {
    font-family: "icomoon";
    src: font-url("icomoon.eot?3cux5j");
    src: font-url("icomoon.eot?3cux5j#iefix") format("embedded-opentype"),
        font-url("icomoon.ttf?3cux5j") format("truetype"), font-url("icomoon.woff?3cux5j") format("woff"),
        font-url("icomoon.svg?3cux5j#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "icomoon" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-idea:before {
    content: "\e901";
    margin-right: 9px;
    position: relative;
    top: 2px;
    font-size: 19px;
}
.icon-magic:before {
    content: "\e902";
    font-size: 19px;
    margin-right: 12px;
    margin-left: 12px;
}
.icon-user-1:before {
    content: "\e903";
    position: relative;
    font-size: 20px;
    top: 4px;
    margin-right: 13px;
    color: #ffaaeb;
}
.icon-search:before {
    content: "\e900";
}

.icon-cross:before {
    content: "\e906";
    color: #d61d29;
}
.icon-Down_Arow:before {
    content: "\e905";
    color: #bababa;
    font-size: 13px;
    margin-left: 9px;
    margin-top: 7px;
}
.icon-open-menu:before {
    content: "\e908";
}

body {
    font-family: "Philosopher", sans-serif;
}

.bg-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 -8px 4px 0 rgba(0, 0, 0, 0.11);
    padding: 0px 71px;
}

/*.nav-item
{
    font-weight: 400;
}
.nav-item:hover
{
    font-weight: 700;
}*/
.navbar-nav a {
    color: #302f2fb5;
    text-align: center;
    padding: 25px 16px;
    text-decoration: none;
    font-size: 16px;
    border-bottom: 2px solid transparent;
    margin-right: 24px;
}

.navbar-nav a:hover {
    border-bottom: 2px solid #1f488a;
    font-size: 16px;
    color: #000;
}

.navbar-nav a.active {
    font-size: 16px;
    border-bottom: 2px solid #1f488a;
}
.navbar {
    padding: 0rem 1rem;
}
.btn-login {
    background: none;
    border: none;
    color: #bc171d;
    font-size: 16px;
}
.community-learners-modal-dialog .modal-dialog {
    max-width: 790px !important;
}
.btn-signup {
    background: #bc171d;
    border: none;
    color: #fff;
    padding: 4px 10px;
    margin-left: 17px;
    font-size: 16px;
    border-radius: 10px;
}

.has-search {
    position: absolute;
    top: 0;
    right: 0;
}
.form-control:focus {
    box-shadow: none;
    outline: none;
}
button:focus {
    box-shadow: none;
    outline: none;
}
.btn:focus {
    box-shadow: none;
    outline: none;
}
.box {
    border: 2px solid #8093bb;
    width: 274px;
    height: 40px;
    position: relative;
    left: 94px;
    -webkit-box-shadow: 0px 1px 7px 0px rgba(59, 89, 151, 0.29);
    -moz-box-shadow: 0px 1px 7px 0px rgba(59, 89, 151, 0.29);
    box-shadow: 0px 1px 7px 0px rgba(59, 89, 151, 0.29);
}
.dropdown a {
    color: #bababa;
}
.dropdown-toggle::after {
    display: none;
}
.search-input {
    border: none!important;
    height: 36px!important;
    width: 169px!important;
    padding: 0!important;
    position: relative!important;
}
.icon-search {
    position: absolute;
    top: 10px;
    right: 6px;
}
/*Section 2*/
.ptb {
    padding-top: 0%;
    padding-bottom: 2%;
}

.heading-edu {
    font-size: 24px;
    text-align: center;
    position: relative;
    width: 580px;
    margin: auto;
    padding-bottom: 15px;
    padding-top: 5%;
    font-weight: 600;
}
.heading-edu:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #e4a2a5;
    border: none;
    bottom: 0;
    left: 0;
    margin: auto;
}
.text-edu {
    font-size: 21px;
    text-align: center;
    width: 57%;
    margin: auto;
    padding-top: 1%;
    padding-bottom: 2%;
}
.btn-strive {
    display: block !important;
    margin-left: auto;
    margin-right: 115px !important;

    padding: 5px 0;
}
.edu-sec {
    width: 67%;
    margin: auto;
}
.img-width {
    width: 533px;
}
.fit-img-1 {
    height: 288px;
}

.heading-k-12 {
    font-size: 27px;
    text-align: right;
    width: 328px;
    margin: auto;
    padding-top: 55%;
    line-height: 38px;
    padding-bottom: 5%;
    margin-left: 165px;
    font-weight: 700;
}
.btn-request {
    border: none;
    background: #bc171d;
    font-size: 30px;
    border-radius: 5px;
    color: #fff;
    display: block;
    width: 42%;
    margin-top: 16%;
    margin-left: 49%;
}

.pc-img {
    width: 70%;
    margin: auto;
    display: block;
}
.img-create {
    width: 35%;
    margin-left: -15px;
}
.heading-create {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    position: relative;
    padding-bottom: 15px;
}
.heading-create:after {
    position: absolute;
    content: "";
    width: 48px;
    height: 2px;
    background-color: #e4a2a5;
    border: none;
    bottom: 5px;
    left: 152px;
    margin: auto;
}
.heading-benefit {
    font-size: 24px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    position: relative;
    width: 414px;
    margin: auto;
    padding-bottom: 15px;
}
button.btn-bottom-request.sigup.join {
    width: 9%;
    font-size: 20px;
    margin-bottom: 24px;
    border: none;
    background: #bc171d;
    color: #fff;
    line-height: 5px;
    display: block;
    margin: auto;
    height: 43px;
}
/*.heading-benefit:after*/
/*{*/
/*	position: absolute;*/
/*    content: "";*/
/*    width: 262px;*/
/*    height: 2px;*/
/*    background-color: #e4a2a5;*/
/*    border: none;*/
/*    bottom: 0;*/
/*    left: 79px;*/
/*    margin: auto;*/

/*}*/

.card {
    width: 89%;
    margin: auto;
    padding: 29px 0px;
    border: none;
    webkit-box-shadow: 11px 11px 10px -1px rgba(244, 244, 244, 1);
    -moz-box-shadow: 11px 11px 10px -1px rgba(244, 244, 244, 1);
    box-shadow: 11px 11px 10px -1px rgba(244, 244, 244, 1);
}
.img-edu {
    width: 15%;
}
.img-edu1 {
    width: 18%;
}
.heading-pic-edu {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    position: relative;
    width: 414px;
    margin: auto;
    padding-bottom: 15px;
}
.heading-pic-edu:after {
    position: absolute;
    content: "";
    width: 68px;
    height: 2px;
    background-color: #e4a2a5;
    border: none;
    bottom: 9px;
    left: 171px;
    margin: auto;
}
.text-pic-edu {
    font-size: 23px;
    font-weight: 400;
    width: 70%;
    margin: auto;
    color: #5f5f5f;
}

.btn-bottom-request {
    border: none;
    background: #bc171d;
    font-size: 30px;
    font-weight: 700;
    border-radius: 9px;
    color: #fff;
    display: block;
    padding: 4px 0px;
}
.btn-browsing {
    font-size: 22px;
    margin-right: 13px;
    margin-bottom: 24px;
    width: 27%;
}

/* new */

h4.heading-edu.about {
    width: 68%;
    font-size: 24px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
}
p.text-edu.about {
    width: 100%;
    font-size: 21px;
}
.about-banner img {
    width: 100%;
}
.about-banner {
    text-align: center;
}
button.btn-bottom-request.sigup {
    width: 15%;
    font-size: 20px;
    margin-bottom: 24px;
    border: 1px solid #bc171d;
    background: transparent;
    color: #bc171d;
    line-height: 5px;
}
.about-cn::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #e4a2a5;
    border: none;
    bottom: 0;
    left: 0;
    margin: auto;
}
img.img-fluid.img-s {
    margin-top: 4rem;
}
img.img-fluid.img-l {
    margin-top: 8rem;
}
p.para-edu {
    font-size: 21px;
    margin-left: 8rem;
    padding-top: 1rem;
    width: 66%;
}
p.para-edu.text {
    width: 66%;
    padding-left: 0rem;
}
h4.heading-edu.edu {
    width: 60%;
    padding-top: 12rem;
    text-align: left;
    font-weight: 700;
    font-family: 'Philosopher', sans-serif !important;
    font-size: 25px;
}
h4.heading-edu.edu:after {
    position: absolute;
    content: "";
    width: 96%;
}
h4.make {
    font-size: 24px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
}

h4.heading-edu.edu.Sharing:after {
    position: absolute;
    content: "";
    width: 48%;
}
h4.heading-edu.edu.Sharing.pinotes:after {
    position: absolute;
    content: "";
    width: 100%;
}
h4.heading-edu.edu.Sharing.strive:after {
    position: absolute;
    content: "";
    width: 80%;
}
.useful-text.text-center h4 {
    font-size: 24px;
    padding: 3rem;
}
img.img-fluid.img-t {
    margin-top: 0rem;
}
h4.heading-edu.edu.Sharing {
    width: 61%;
    padding-top: 8rem;
    text-align: left;
    font-size: 25px;
}
h4.heading-edu.edu.Sharing.collect:after {
    position: absolute;
    content: "";
    width: 91%;
}
h4.call-home {
    text-align: center;
    width: 100%;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
}
/*}*/
/*.heading-benefit.call-home:after {*/
/*    position: absolute;*/
/*    content: "";*/
/*    width: 47%;*/
/*    height: 2px;*/
/*    background-color: #e4a2a5;*/
/*    border: none;*/
/*    bottom: 0;*/
/*    left: 18.5rem;*/
/*    margin: auto;*/
/*}*/

h4.Cruising {
    width: 63%;
    margin: 0 auto;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    margin-top: 58px;
    font-size: 26px;
}
.img-useful {
    margin-right: -8px;
}

h4.heading-edu.Cruising:after {
    width: 86%;
    position: absolute;
    content: "";
    left: 3rem;
    bottom: 31px;
}

p.fluidity {
    font-size: 18px;
    width: 51%;
    margin: -18px auto;
}
h4.heading-edu.Cruising.part:after {
    width: 48%;
    position: absolute;
    content: "";
    left: 11.7rem;
    bottom: 31px;
}
h4.heading-edu.edu.Sharing.friends {
    margin-top: 3%;
}
h4.heading-edu.edu.Sharing.friends:after {
    width: 40%;
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
}

/*
Community Page*/

section.community-banner {
    background: image_url("community-banner.png");
    width: 100%;
    height: 700px;
    background-size: cover;
    position: relative;
    top: -25px;
}
.community-quote {
    position: absolute;
    bottom: 18px;
    width: 48%;
    left: 0;
    right: 0;
    margin: auto;
}
.community-quote h3 {
    color: #fff;
    font-size: 38px;
    text-align: center;
}
.community-quote p {
    color: #fff;
    font-size: 22px;
    text-align: right;
    margin-top: 20px;
}

/*.do-shadow*/
/*{*/
/*    -webkit-box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.43);*/
/*-moz-box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.43);*/
/*box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.43);*/
/*}*/

.heading-dos {
    color: #000;
    font-size: 25px;
    position: relative;
    width: 8%;
    margin: auto;
    font-weight: 700;
    top: 45px;
}
.heading-dos:after {
    position: absolute;
    bottom: -9px;
    left: 20px;
    content: "";
    width: 50px;
    height: 2px;
    background: #bb171d;
    border: none;
}
.img-dos {
    position: relative;
    top: 9px;
    left: 47px;
    width: 3%;
}
.dos-banner {
    width: 62%;
}
.list-dos {
    list-style-type: none;
    padding-left: 0;
    padding-top: 83px;
}
.list-dos li {
    font-size: 22px;
    margin-bottom: 30px;
}
.heading-dont {
    color: #000;
    font-size: 25px;
    position: relative;
    width: 8%;
    margin: auto;
    font-weight: 700;
    top: 45px;
}
.heading-dont:after {
    position: absolute;
    bottom: -9px;
    left: 11px;
    content: "";
    width: 68px;
    height: 2px;
    background: #bb171d;
    border: none;
}

.img-dont {
    position: relative;
    top: 21px;
    left: 61px;
    width: 3%;
}
.dont-banner {
    width: 84%;
}

.bg-red {
    background: #bc171d;
    width: 100%;
}
.heading-share {
    color: #fff;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    padding-top: 9%;
}
.text-share {
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    padding-bottom: 9%;
    width: 50%;
    margin: auto;
    padding-top: 2%;
}
.contact-us-page,.community_guideline_page,.about_us_notes_path,.terms_and_conditions_page{
   font-family: 'Philosopher', sans-serif !important;  
}
/*Contact us*/
.heading-drop-line {
    font-weight: 700;
    font-size: 25px;
   
}

.about_us_notes_path .first-section-box-about {
    margin-top: -25px;
}
.contact-us-page button.btn-submit.mb-5 {
    padding: 6px 7px;
}
.contact-form {
    width: 74%;
    padding-top: 6%;
    padding-bottom: 6%;
    margin: auto;
}
.message {
    width: 70%;
}
.form-control {
    border: none !important;
    border-bottom: 1px solid #d7d7d7 !important;
    border-radius: 0 !important;
    padding: 0 !important;
}
input::-webkit-input-placeholder {
    color: #d7d7d7 !important;
}

input:-moz-placeholder {
    /* Firefox 18- */
    color: #d7d7d7 !important;
}

input::-moz-placeholder {
    /* Firefox 19+ */
    color: #d7d7d7 !important;
}

input:-ms-input-placeholder {
    color: #d7d7d7 !important;
}
::placeholder {
    color: #d7d7d7;
}
.btn-submit {
    border: none;
    background: #bc171d;
    font-size: 30px;
    border-radius: 5px;
    color: #fff;
    display: block;
    width: 29%;
    margin-top: 16%;
    margin-left: 38%;
}
.heading-contact {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    position: relative;
    width: 414px;
    margin: auto;
    padding-bottom: 15px;
}
.heading-contact:after {
    position: absolute;
    content: "";
    width: 68px;
    height: 2px;
    background-color: #e4a2a5;
    border: none;
    bottom: 9px;
    left: 171px;
    margin: auto;
}

/*Modal*/
.community-learners-modal-dialog .modal-dialog {
    max-width: 650px;
}
.community-learners-modal-dialog .modal-footer {
    display: flex;
    justify-content: center;
    border: none;
    position: relative;
    top: -26px;
}
.community-learners-modal-dialog .modal-header {
    border-bottom: 0;
        height: 49px;
}
.community-learners-modal-dialog .h-part {
    font-size: 16px;

    padding: 11px 13px;
    font-family: "Montserrat", sans-serif;
}
.community-learners-modal-dialog .btn-signup-modal {
    background: #bc171d;
    border: none;
    color: #fff;
    padding: 6px 10px;
    margin-left: 17px !important;
    font-size: 16px;
    border-radius: 10px;
    line-height: normal;
}
.community-learners-modal-dialog .modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem 4rem;
}
.community-learners-modal-dialog .heading-part {
    position: relative;
}
.community-learners-modal-dialog .heading-part:after {
    position: absolute;
    right: -12px;
    top: -185px;
    content: "";
    width: 1px;
    height: 227px;
    background: #a0a0a0a6;
}
.community-learners-modal-dialog .img-learner {
    width: 83%;
}
.community-learners-modal-dialog .mlt_3 {
    border: none;
    font-size: 21px;
    font-weight: 600;
}
.community-learners-modal-dialog .bg-grad {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 33px;
    margin: auto;
    background-image: linear-gradient(to left, #ff5100, #1c5fe4, #ea0770);
}
.community-learners-modal-dialog .h-grad {
    color: #fff;
    font-size: 19px;
    padding: 8px 0px 9px;
    margin-bottom: 0;
}
.community-learners-modal-dialog .modal-header .close {
    color: #fff;
    padding: 0 !important;
    margin: 0rem 0rem -1rem auto !important;
    background: #000;
    border-radius: 100%;
    width: 24px;
    font-family: none !important;
}
.community-learners-modal-dialog .modal-header .close:not(:disabled):not(.disabled):hover, .community-learners-modal-dialog .modal-header .close:not(:disabled):not(.disabled):focus{
      color: #fffdfd !important;  
}
/*Inbox*/

.card-inbox {
    width: 100%;
    padding: 0px 15px;
    -webkit-box-shadow: 0px 1px 7px 0px rgba(59, 89, 151, 0.29);
    -moz-box-shadow: 0px 1px 7px 0px rgba(59, 89, 151, 0.29);
    box-shadow: 0px 1px 7px 0px rgba(59, 89, 151, 0.29);
    position: relative;
}
.card-inbox:after {
    position: absolute;
    content: "";
    top: 95px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #c9c9c9;
    border: none;
}
.border-right {
    margin-right: 20px;
    border-right: 1px solid #dee2e6 !important;
}
.all-user {
    position: relative;
    padding: 20px 50px;
}
.all-user:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 47px;
    width: 280px;
    height: 1px;
    background: #e1e1e1;
    border: none;
}
.user-profile {
    width: 11%;
    margin: 18px 0px 21px 50px;
}

.all-user img {
    width: 14%;
}
.inactive-user {
    position: relative;
}
.inactive {
    position: absolute;
    width: 3% !important;
    margin-top: 42px;
    margin-left: -22px;
}
.user-name {
    font-size: 20px;
    font-weight: 700;
    margin-left: 15px;
    color: #000;
}
.heading-chatting {
    padding-top: 88px;
    font-weight: 700;
    font-size: 22px;
}
.text-chatting {
    color: #e1e1e1;
    font-size: 18px;
}
.form-style {
    border: none;
    -webkit-box-shadow: 0px 1px 7px 0px rgba(59, 89, 151, 0.29);
    -moz-box-shadow: 0px 1px 7px 0px rgba(59, 89, 151, 0.29);
    box-shadow: 0px 1px 7px 0px rgba(59, 89, 151, 0.29);
    padding: 25px 20px;
    width: 93%;
}
.form-style:focus {
    border: none;
    -webkit-box-shadow: 0px 1px 7px 0px rgba(59, 89, 151, 0.29);
    -moz-box-shadow: 0px 1px 7px 0px rgba(59, 89, 151, 0.29);
    box-shadow: 0px 1px 7px 0px rgba(59, 89, 151, 0.29);
}
.chatting-box {
    height: 273px;
    overflow: auto;
}
.btn-send {
    border: none;
    background: #bc171d;
    font-size: 22px;
    border-radius: 5px;
    color: #fff;
    width: 28%;
    margin-top: 6%;
    display: block;
    margin: 2% auto;
    font-weight: 700;
}
/*.modal-content*/
/*{*/
/*    background: url('popup-background.jpg');*/
/*    width: 100%;*/
/*    height:520px;*/
/*    background-size: cover;*/
/*    border:none;*/
/*}*/

.community-learners-modal-dialog .modal-content {
    background: image_url("popup-background.jpg");
    width: 100%;
    height: 520px;
    background-size: cover;
    border: none;
    margin-top: 10%;
}
.community-learners-modal-dialog .mt_top4 {
    margin-top: -7px;
    width: 100%;
}
.community-learners-modal-dialog .btnbottom-reqst {
    width: 26%;
    display: block;
    margin: 35px auto;
}
@media only screen and (max-width: 1440px) {
    .community-quote {
        width: 63%;
    }
    .btn-strive {
        display: block !important;
        margin-left: auto;
        margin-right: 159px !important;
        width: 24% !important;
    }
    .btnbottom-reqst {
        width: 26%;
        display: block;
        margin: 35px auto;
    }
}

@media only screen and (max-width: 1366px) {
    .community-quote {
        width: 68%;
    }
    .btn-strive {
        display: block !important;
        margin-left: auto;
        margin-right: 114px !important;
        width: 23% !important;
        padding: 5px 0;
    }
}
@media only screen and (max-width: 1280px) {
    .box {
        border: 2px solid #8093bb;
        width: 274px;
        height: 40px;
        position: relative;
        left: 57px;
    }
    .community-quote {
        width: 72%;
    }
}
@media only screen and (max-width: 1024px) {
    .btn-strive {
        width: 31% !important;
    }
    .navbar-nav a {
        font-size: 12px;
    }
    .btn-request {
        width: 63%;
    }
    .heading-create:after {
        position: absolute;
        bottom: 5px;
        left: 126px;
    }
    .btn-bottom-request {
        width: 27%;
    }
    .bg-shadow {
        padding: 0px 25px;
    }
    .box {
        width: 237px;
        position: relative;
        left: 20px;
    }
    .text-pic-edu {
        font-size: 22px;
    }
    .heading-k-12 {
        padding-top: 45%;
        margin-left: 121px;
    }

    /*About*/

    h4.heading-edu.about {
        width: 80%;
    }
    p.para-edu {
        margin-left: 6rem;
    }
    h4.heading-edu.edu.Sharing:after {
        position: absolute;
        content: "";
        width: 64%;
    }
    .heading-benefit.call-home:after {
        position: absolute;
        content: "";
        width: 58%;
        left: 12.5rem;
    }
    h4.heading-edu.edu.Sharing.collect:after {
        position: absolute;
        content: "";
        width: 75%;
    }
    h4.heading-edu.Cruising.part:after {
        width: 44%;
        position: absolute;
        content: "";
        left: 10.7rem;
        bottom: 31px;
    }
    h4.heading-edu.edu.Sharing.friends:after {
        width: 50%;
    }
    h4.heading-edu.edu.Sharing {
        width: 61%;
        padding-top: 3rem;
    }
    h4.heading-edu.Cruising {
        font-size: 21px;
        margin: 10px auto 0;
    }

    /*
    Community page*/
    section.community-banner {
        background: image_url("community-banner.png");
        width: 100%;
        height: 560px;
        background-size: cover;
        position: relative;
        top: -25px;
    }
    .community-quote {
        width: 90%;
    }
    .dos-banner {
        width: 75%;
    }
    .dont-banner {
        width: 86%;
    }
    .heading-dos:after {
        position: absolute;
        bottom: -9px;
        left: 14px;
    }
    .img-dos {
        position: relative;
        top: 13px;
    }
    .heading-dont:after {
        position: absolute;
        bottom: -9px;
        left: 2px;
    }

    .bg-grad {
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 46px;
    }
    /*inbox*/
    .btn-send {
        width: 39%;
    }
    .inactive {
        position: absolute;
        width: 3% !important;
        margin-top: 30px;
        margin-left: -14px;
    }
    h4.heading-edu.edu {
        width: 60%;
        padding-top: 12rem;
        text-align: left;
        font-weight: 700;
        font-size: 20px;
    }
    h4.heading-edu.edu.Sharing {
        font-size: 22px;
    }
    p.fluidity {
        font-size: 18px;
        width: 60%;
    }
    .community-learners-modal-dialog .modal-dialog {
        max-width: 705px !important;
    }
}

@media only screen and (max-width: 768px) {
    button.btn-bottom-request.sigup.join {
        width: 12%;
    }
    .btnbottom-reqst {
        width: 36%;
        display: block;
        margin: 35px auto;
    }
    .btn-strive {
        display: block !important;
        margin-left: auto !important;
        margin-right: -2px !important;
        width: 46% !important;
    }
    p.text-edu.about {
        width: 100%;
        font-size: 20px;
    }
    .community-learners-modal-dialog .modal-dialog {
        max-width: 705px !important;
    }
    .fit-img-1 {
        height: 186px;
    }
    .heading-k-12 {
        width: 100%;
        font-size: 22px;
        padding-top: 51%;
        margin-left: 2px;
    }
    .btn-request {
        width: 74%;
        margin-top: 16%;
        margin-left: 28%;
    }
    .heading-pic-edu {
        width: 100%;
    }
    .text-pic-edu {
        font-size: 19px;
    }
    .heading-pic-edu:after {
        position: absolute;
        bottom: 9px;
        left: 108px;
    }
    .btn-bottom-request {
        width: 36%;
    }
    .navbar-brand img {
        width: 44%;
        margin-top: 6px;
        margin-bottom: 10px;
    }
    .pc-img {
        margin-top: -24px;
    }
    .text-edu {
        font-size: 28px;
        text-align: center;
        width: 93%;
    }
    .heading-create:after {
        position: absolute;
        bottom: 5px;
        left: 83px;
    }
    .text-pic-edu {
        width: 90%;
    }
    .box {
        display: block;
        margin: auto;
        width: 279px;
    }
    .btn-login {
        margin: 26px 0px;
    }
    .dropdown,
    .dropleft,
    .dropright,
    .dropup {
        position: relative;
        text-align: left;
    }
    .navbar-collapse {
        text-align: center;
    }

    /*About*/
    .heading-benefit {
        font-size: 22px;
    }
    button.btn-bottom-request.sigup {
        width: 29%;
        margin-top: 0rem;
        border: 1px solid #bc171d;
        background: transparent;
        color: #bc171d;
        line-height: 5px;
    }
    h4.heading-edu.edu {
        width: 92%;
        padding-top: 7rem;
        font-size: 20px;
    }
    p.para-edu {
        font-size: 18px;
        margin-left: 13px;
        padding-top: 1rem;
        width: 100%;
    }

    .heading-benefit.call-home:after {
        position: absolute;
        bottom: 0;
        left: 7rem;
        width: 68%;
    }
    .heading-dont:after {
        position: absolute;
        bottom: -9px;
        left: -6px;
    }
    img.img-fluid.img-l {
        margin-top: 4rem;
    }
    p.para-edu.text {
        width: 100%;
        padding-left: 0;
        font-size: 18px;
    }
    h4.heading-edu.edu.Sharing {
        width: 92%;
    }
    h4.heading-edu.about {
        width: 89%;
    }
    h4.heading-edu.about {
        font-size: 19px;
    }
    h4.heading-edu.edu.Sharing.strive:after {
        position: absolute;
        content: "";
        width: 95%;
    }
    h4.heading-edu.edu.Sharing.collect:after {
        position: absolute;
        content: "";
        width: 67%;
    }
    h4.heading-edu.Cruising {
        width: 88%;
    }
    p.fluidity {
        font-size: 18px;
        width: 79%;
    }
    h4.heading-edu.Cruising.part:after {
        width: 44%;
        position: absolute;
        content: "";
        left: 10.7rem;
        bottom: 31px;
    }
    /* Community page*/

    section.community-banner {
        height: 442px;
    }
    .dos-banner {
        width: 100%;
    }

    .list-dos li {
        font-size: 20px;
        margin-bottom: 19px;
    }
    .dont-banner {
        width: 100%;
    }
    .heading-dos:after {
        position: absolute;
        bottom: -9px;
        left: 5px;
    }
    .img-dos {
        position: relative;
        top: 15px;
        left: 41px;
    }

    /*
    Contact Us*/
    .message {
        width: 100%;
    }
    .btn-submit {
        width: 33%;
    }

    /*login*/
    .bg-grad {
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -9px;
    }
    .community-learners-modal-dialog .modal-footer {
        display: flex;
        justify-content: center;
        border: none;
        position: relative;
        top: -8px;
    }
    /*inbox*/

    .inactive {
        position: absolute;
        width: 3% !important;
        margin-top: 30px;
        margin-left: -14px;
    }
    .btn-send {
        width: 49%;
    }
    .all-user {
        position: relative;
        padding: 20px 18px;
    }
    .card-inbox:after {
        position: absolute;
        content: "";
        top: 71px;
    }
    .all-user:after {
        position: absolute;
        content: "";
        bottom: 0;
        left: 18px;
        width: 261px;
    }
    .user-profile {
        width: 11%;
        margin: 18px 0px 21px 17px;
    }
}
@media only screen and (max-width: 414px) {
    button.btn-bottom-request.sigup.join {
        width: 23%;
    }
    .flex-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .btn-strive {
        display: block !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .heading-edu {
        width: 100%;
    }
    .text-edu {
        width: 100%;
    }
    .heading-edu:after {
        position: absolute;
        content: "";
        width: 100%;
    }
    .edu-sec {
        width: 100%;
        margin: auto;
    }

    .img-width {
        width: 100%;
        height: auto;
    }
    .fit-img-1 {
        width: 100%;
        height: auto;
    }
    .img-mob {
        width: 100%;
    }
    .heading-k-12 {
        padding-top: 3%;
        text-align: center;
    }
    .btn-request {
        display: block;
        width: 74%;
        margin: 20px auto;
    }
    .pc-img {
        margin-top: 17px;
        width: 100%;
    }
    .heading-create:after {
        position: absolute;
        bottom: 5px;
        left: 172px;
    }
    .heading-benefit {
        width: 100%;
    }
    .heading-benefit:after {
        position: absolute;
        bottom: 0;
        left: 45px;
    }
    .heading-pic-edu:after {
        position: absolute;
        bottom: 9px;
        left: 137px;
    }
    .btn-bottom-request {
        width: 64%;
        display: block;
        margin: 20px auto;
    }

    /*About*/
    h4.heading-benefit.call-home {
        width: 100%;
        font-size: 20px;
        margin-top: 42px;
    }
    h4.heading-edu.edu:after {
        position: absolute;
        content: "";
        width: 100%;
        left: 0rem;
    }
    h4.heading-edu.make:after {
        position: absolute;
        content: "";
        width: 75%;
        left: 3.2rem;
        bottom: 16px;
    }
    h4.heading-edu.edu.Sharing:after {
        position: absolute;
        content: "";
        width: 39%;
        left: 7.4rem;
    }
    h4.heading-edu.edu.Sharing.pinotes:after {
        position: absolute;
        content: "";
        width: 84%;
        left: 29px;
    }
    h4.heading-edu.edu.Sharing.friends:after {
        width: 31%;
        left: 133px;
    }
    h4.heading-edu.edu.Sharing.strive:after {
        position: absolute;
        content: "";
        width: 84%;
        left: 31px;
    }
    h4.heading-edu.about {
        width: 79%;
    }
    h4.heading-edu.about {
        font-size: 18px;
    }
    button.btn-bottom-request.sigup {
        width: 45%;
        height: 38px;
    }
    h4.heading-edu.edu {
        width: 92%;
        padding-top: 3rem;
        text-align: center;
    }
    img.img-fluid.img-s {
        margin-top: 1rem;
        padding-right: 15px;
    }
    img.img-fluid.img-l {
        margin-top: 1rem;
        padding-left: 15px;
    }
    img.img-fluid.img-t {
        margin-top: 0rem;
        padding-right: 15px;
    }
    h4.Cruising {
        width: 100%;
    }
    p.fluidity {
        font-size: 18px;
        width: 100%;
        margin: 0px auto;
    }
    h4.heading-edu.edu.Sharing {
        width: 100%;
        padding-top: 3rem;
        text-align: center;
        font-size: 20px;
    }
    .heading-benefit.call-home:after {
        position: absolute;
        bottom: 0;
        left: 1rem;
        width: 91%;
    }
    h4.heading-edu.edu.Sharing.collect:after {
        position: absolute;
        content: "";
        width: 91%;
        left: 1rem;
    }
    h4.heading-edu.Cruising.part:after {
        width: 63%;
        position: absolute;
        content: "";
        left: 3.9rem;
        bottom: 0px;
    }
    .useful-text.text-center h4 {
        font-size: 20px;
        padding: 56px 0 25px;
    }
    h4.heading-edu.Cruising:after {
        width: 91%;
        position: absolute;
        content: "";
        left: 1.2rem;
        bottom: 17px;
    }
    p.para-edu {
        font-size: 18px;
        padding-left: 0;
        margin-left: 0;
        padding-top: 1rem;
        width: 100%;
        text-align: center;
    }
    /* Community page*/
    section.community-banner {
        background: image_url("community-banner-m.png");
        width: 100%;
        height: 258px;
        background-size: cover;
        position: relative;
        top: -25px;
    }
    .mt_7 {
        margin-top: -33px;
    }
    .community-quote h3 {
        color: #fff;
        font-size: 24px;
    }
    .community-quote p {
        color: #fff;
        font-size: 15px;
    }
    .heading-dos:after {
        position: absolute;
        bottom: -9px;
        left: 11px;
    }
    .img-dos {
        position: relative;
        top: 12px;
        left: 44px;
        width: 8%;
    }
    .dos-banner {
        width: 100%;
        margin-top: 66px;
    }
    .list-dos {
        text-align: center !important;
    }
    .heading-dos {
        width: 19%;
    }
    .heading-dont {
        width: 18%;
    }
    .heading-dont:after {
        position: absolute;
        bottom: -9px;
        left: -3px;
    }
    .img-dont {
        position: relative;
        top: 23px;
        left: 50px;
        width: 7%;
    }
    .text-share {
        width: 100%;
    }

    /*
    Contact us*/
    .heading-contact {
        width: 100%;
    }
    .heading-contact:after {
        position: absolute;
        bottom: 9px;
        left: 134px;
    }
    .heading-drop-line {
        font-weight: 700;
        font-size: 25px;
        margin-top: 25px;
    }
    .message {
        width: 20%;
        display: block;
        margin: -68px auto 0;
    }

    /*login*/
   .community-learners-modal-dialog .modal-body {
        position: relative;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1rem 0rem;
    }
    .img-learner {
        width: 55%;
    }
    .heading-part:after {
        display: none;
    }
  .community-learners-modal-dialog  .modal-header .close {
        color: #fff;
        padding: 0 !important;
        margin: 0rem 0rem -1rem auto !important;
        background: #000;
        border-radius: 100%;
        width: 24px;
    }
    .h-part {
        font-size: 15px;
        padding: 0px 91px;
    }

    .h-grad {
        color: #fff;
        font-size: 19px;
        padding: 16px 0px 9px;
        margin-bottom: 0;
    }
    .btn-signup-modal {
        position: absolute;
        top: -31px;
        width: 95px;
        font-weight: 700;
    }
    .mlt_3 {
        margin-top: 63px;
        margin-left: 8px;
        font-weight: 700;
    }
    .bg-grad {
        color: #fff;
        font-size: 13px;
        width: 100%;
        bottom: 0;
        margin-top: 20px;
        margin-bottom: -16px;
        margin-left: 0px;
        height: 60px;
        padding: 0;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
        background-image: linear-gradient(to left, #ce1280, #015dfe, #c95335);
    }
   .community-learners-modal-dialog .modal-content {
        border-radius: 30px;
        height: 586px;
    }
   .community-learners-modal-dialog .modal-footer {
        display: flex;
        flex-direction: column;
        border: none;
        position: absolute;
    }

    /*inbox*/

    .border-right {
        border-right: none !important;
    }
    .all-user:after {
        width: 100%;
    }
    .form-style {
        width: 100%;
    }
}

@media only screen and (max-width: 375px) {
    .heading-pic-edu:after {
        position: absolute;
        bottom: 9px;
        left: 117px;
    }
    .heading-create:after {
        position: absolute;
        bottom: 5px;
        left: 149px;
    }
    .btn-bottom-request {
        width: 64%;
        display: block;
        margin: 20px auto;
        font-size: 22px;
    }
    .box {
        position: relative;
        left: 0;
        width: 279px;
    }

    /*About*/

    h4.heading-edu.Cruising.part:after {
        width: 68%;
        position: absolute;
        content: "";
        left: 2.9rem;
        bottom: 0px;
    }
    h4.heading-edu.edu.Sharing:after {
        position: absolute;
        content: "";
        width: 46%;
        left: 5.5rem;
    }
    h4.heading-edu.edu.Sharing.pinotes:after {
        position: absolute;
        content: "";
        width: 90%;
        left: 16px;
    }
    h4.heading-edu.edu.Sharing.strive:after {
        position: absolute;
        content: "";
        width: 91%;
        left: 19px;
    }
    h4.heading-edu.make:after {
        position: absolute;
        content: "";
        width: 78%;
        left: 2.2rem;
        bottom: 16px;
    }
    h4.heading-edu.Cruising:after {
        width: 98%;
        position: absolute;
        content: "";
        left: 0.2rem;
        bottom: 17px;
    }
    h4.heading-edu.edu.Sharing.friends:after {
        width: 37%;
        left: 103px;
    }
    /*Community*/
    section.community-banner {
        height: 226px;
    }

    /*login*/
    .bg-grad {
        width: 100%;
        margin-bottom: -17px;
    }
    .h-part {
        font-size: 15px;
        padding: 0px 79px;
    }
}

@media only screen and (max-width: 360px) {
    .heading-create:after {
        position: absolute;
        bottom: 5px;
        left: 142px;
    }
    .box {
        width: 237px;
        position: relative;
        left: 0px;
    }
    .heading-benefit:after {
        position: absolute;
        bottom: 0;
        left: 36px;
    }

    .btn-bottom-request {
        width: 71%;
        display: block;
        margin: 20px auto;
    }

    /*About*/
    h4.heading-edu.about {
        width: 83%;
    }

    /*login*/

    .bg-grad {
        width: 100%;
        margin-bottom: -17px;
    }
}

@media only screen and (max-width: 320px) {
    .bg-shadow {
        padding: 0px 19px;
    }
    .btn-request {
        display: block;
        width: 82%;
        margin: 8px auto;
    }
    .heading-create:after {
        position: absolute;
        bottom: 5px;
        left: 122px;
    }
    .heading-benefit:after {
        position: absolute;
        bottom: 0;
        left: 13px;
    }
    .heading-benefit:after {
        position: absolute;
        bottom: 0;
        left: 36px;
    }

    .heading-pic-edu:after {
        position: absolute;
        bottom: 9px;
        left: 97px;
    }

    .btn-bottom-request {
        width: 86%;
        display: block;
        margin: 20px auto;
    }
    .h-part {
        font-size: 13px;
        padding: 0px 79px;
    }

    /*About*/
    h4.heading-edu.about {
        width: 94%;
    }
    h4.heading-edu.make:after {
        position: absolute;
        content: "";
        width: 87%;
        left: 1.2rem;
        bottom: 16px;
    }
    h4.heading-edu.edu.Sharing:after {
        position: absolute;
        content: "";
        width: 51%;
        left: 4.5rem;
    }
    h4.heading-edu.edu.Sharing.strive:after {
        position: absolute;
        content: "";
        width: 87%;
        left: 19px;
    }
    h4.heading-edu.Cruising.part:after {
        width: 81%;
        position: absolute;
        content: "";
        left: 1.5rem;
        bottom: 7px;
    }
    h4.heading-edu.edu.Sharing.friends:after {
        width: 39%;
        left: 88px;
    }

    /*Community*/
    section.community-banner {
        height: 193px;
    }
    .community-quote h3 {
        color: #fff;
        font-size: 15px;
    }
    .community-quote p {
        color: #fff;
        font-size: 10px;
    }

    .heading-dos:after {
        position: absolute;
        bottom: -9px;
        left: 5px;
    }

    /*Login*/

    .bg-grad {
        width: 100%;
    }
    .h-grad {
        color: #fff;
        font-size: 15px;
    }
   .community-learners-modal-dialog .modal-content {
        border-radius: 30px;
        height: 505px;
    }

    /*inbox*/
    .btn-send {
        width: 57%;
    }
}

.re-d {
    font-size: 20px;
    margin-bottom: 24px;
    border: 1px solid #bc171d;
    background: transparent;
    color: #bc171d;
    line-height: 40px;
    border-radius: 50px;
}

.about_us_notes_path {
    width: 100%;
    float: left;
}
.about_us_notes_path .btn-bottom-request {
    border: none;
    background: #bc171d;
    font-size: 20px;
    font-weight: 700;
    border-radius: 9px;
    color: #fff;
    display: block;
    padding: 2px 15px;
    text-transform: capitalize;
    width: auto;
    line-height: 34px;
    height: 43px;
}
.about_us_notes_path .btn-bottom-request:hover{
    text-decoration: none;
}

.about_us_notes_path .start,.about_us_notes_path .btn-strive {
    border: 1px solid #bc171d;
    background: transparent;
    color: #bc171d;
    border-radius: 30px;
}
.search-bar #searchtest{
    text-transform: uppercase;
}
.about_us_notes_path .btn-strive {
    padding: 2px 8px;
}
button {
    cursor: pointer !important;
    line-height: normal !important; 
}

#newUserModal ,div#newSessionModal {
z-index: 9999;
}

section.contact-us-page .card {
    width: 89%;
    margin: auto;
    padding: 29px 0px;
    border: none;
    webkit-box-shadow: 11px 11px 10px -1px rgba(244,244,244,1);
    -moz-box-shadow: 11px 11px 10px -1px rgba(244,244,244,1);
    box-shadow: 11px 11px 10px -1px rgba(244,244,244,1);
}