/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require chosen
 */
@import 'bootstrap';
@import 'font-awesome';
@font-face {
    font-family: "icomoon";
    src: font-url("icomoon.eot?3cux5j");
    src: font-url("icomoon.eot?3cux5j#iefix") format("embedded-opentype"),
        font-url("icomoon.ttf?3cux5j") format("truetype"), font-url("icomoon.woff?3cux5j") format("woff"),
        font-url("icomoon.svg?3cux5j#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
body {
  font-family: 'icomoon';
}

.image-upload > input {
  display: none;
}

.image-upload > label {
  cursor: pointer;
  text-align: center;
  padding-right: 0;
}

p {
  margin-bottom: 0;
  // word-break: break-all;
}

.avatar-image:hover {
  opacity: 0.5;
}

a:hover {
  color: #DDD;
}

h1 {
  font-size: 20px;
}

p {
  font-size: 18px;
}

.profile-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.profile-menu {
  display: flex;
  box-sizing: border-box;
  justify-content: space-around;
  padding-bottom: 5px;
  border-bottom: thick #ebf2f3 solid;
}

label {
  width: auto;
}

input {
  width: auto;
}

input#search {
  width: 200px;
  border-radius: 10px;
  border: none;
  padding-left: 10px !important;
  padding-right: 16px !important;

}

input.form-control {
}

.user-name {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.avatar-image {
  width: 100px;
  height: 100px;
  margin-left: 0px;
  border-radius: 50%;
}

.note-avatar-image {
  width: 50px;
  height: 50px;
  margin-left: 20px;
  border-radius: 50%;
}

button:focus{outline: none !important;}


.profile-dashboard {
  padding-top: 20px;
  margin-bottom: 20px;
  /*display: none;*/
}

.profile-left {
  flex-basis: 50%;
  display: flex;
}

.profile-right {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

.board-spacer {
  width: 200px;
  height: 200px;
  margin: 0;
  padding: 0;
}

.modal-header-information {
  display: flex;
  width: 100%;
}

.modal-header-information-title {
  flex-basis: 50%;
}

.modal-header-information-content {
  flex-basis: 50%;
  justify-content: flex-end;
  text-align: right;
  display: flex;
}

.search-bar input#search {
    width: 271px !important;
    border-radius: 0;
    padding-right: 27px !important;
    padding: 6px 18px;
    padding-left: 131px !important;
}

.profile-center {
  display: none;
}

@media only screen and (max-width: 1075px) {
  input#search {
    width: 300px;
    border-radius: 25px;
    padding-right: 35px;
  }

  .profile-header {
    flex-wrap: wrap;
  }

  .note-image {
    border-bottom-left-radius: 0 !important;
  }

  .like-color {
    border-bottom-left-radius: 10px;
  }
}

@media only screen and (max-width: 600px) {
  //input#search {
  //  width: 50px;
  //  border-radius: 25px;
  //  padding-right: 35px;
  //}

  .profile-right {
    display: none;
  }

  .profile-center {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    overflow-x: hidden;
  }

  .profile-links {
    font-size: 10px;
  }

  .note-count {
    font-size: 10px;
  }

  .current {
    padding-bottom: 10px;
  }
}

.modal-backdrop {
}

.modal-backdrop .show {
  background-color: white;
  opacity: 0;
}

.profile-dashboard {
  background-color: white;
}

.follow-image {
  width: 200px;
}

.modal-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#searchtest {
  background-color: white;
  height: 26px;
  margin-left: -25px;
  border: none;
  border-radius: 25px;
}

.remove-padding {
  padding: 0;
}

.boards-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
}

.board-container {
  flex-basis: 200px;
  text-align: center;
  border: thin #EAB38B solid
}

.add-board-btn {
  width: 100%;
}

.board-test {
  display: flex;
  flex-wrap: wrap;
}

.board-test-image {
  flex-basis: 50%;
}

.image-size {
  width: 100% !important;
}

@media only screen and (max-width: 750px) {
  .board-container {
    flex-basis: 33%;
  }

  .board-container > a > img {
    width: 100%;
  }

  .follow-image {
    width: 100%;
  }

  .non-mobile {
    display: none;
  }
}

.modal-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-bottom: 0;
}

.modal-content {
  border-radius: 10px;
}

.note-image {
  border-bottom-left-radius: 10px;
}

.dislike-color {
  border-bottom-right-radius: 10px;
}

@media only screen and (max-width: 590px) {
  .modal-lg {
    /* margin-left: 5%;
    width: 90%;
     margin-right: 5%;*/
    margin: 10% 5%;
  }
  .header-link-pading{

  }
}

.user_first_name {
  flex-basis: 45%;
}

.user_last_name {
  flex-basis: 45%;
}

.password {
  flex-basis: 45%;
}

/* ---------------------------------------------------- Colors ---------------------------------------------------- */

$color-blue: #3b5998;
$color-white: white;
$color-grey: #666;
$color-red: #bc181d;
$color-light-blue: #8b9dc3;

/* ---------------------------------------------------- Text Style ---------------------------------------------------- */

/* Alignment */
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/* Text Color */
.text-white {
  color: $color-white;
}

.text-grey {
  color: $color-grey;
}

.text-red {
  color: #bc181d;
}

.set-font-family {
  font-family: Times;
}

/* ---------------------------------------------------- Alignment ---------------------------------------------------- */

/* Float */

.float-right {
  float: right;
}

/* Padding */

.remove-padding {
  padding: 0;
}

.padding-20 {
  padding: 20px;
}

.padding-bottom-20 {
  padding-bottom: 20px;
}

/* Margin */

.margin-right-20 {
  margin-right: 20px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

/* Flex */

.flex-center {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

#sig {
  text-align: justify;
}

/* ---------------------------------------------------- Buttons ---------------------------------------------------- */

.blue-btn {
  color: $color-white;
  background-color: $color-blue;
  border: none;
  font-size: 15px;
  text-transform: uppercase;
  border: thin $color-blue solid;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}

.blue-btn:hover {
  color: $color-white;
  background-color: $color-light-blue;
  border: thin $color-blue solid;
}





.inverse-blue-btn {
  color: $color-blue;
  background-color: $color-white;
  border: none;
  font-size: 15px;
  text-transform: uppercase;
  border: thin $color-blue solid;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.inverse-blue-btn:hover {
  color: $color-white;
  background-color: $color-light-blue;
  border: thin $color-blue solid;
}

.white-btn {
  background-color: transparent;
  border: 0;
  color: $color-white;
}

.white-btn:hover {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.header-link {
  background-color: transparent;
  border: 0;
  color: $color-grey;
  cursor: pointer;
}
.header-link {
    color: #302f2fb5;
    text-align: center;
    padding: 19px 1px;
    text-decoration: none;
    font-size: 16px;
    border-bottom: 2px solid transparent;
    margin-right: 9px;
    cursor: pointer !important;
}

.sign-in-link {
    background: none;
    border: none;
    color: #bc171d !important;
    font-size: 16px;
    cursor: pointer !important;

}
.header-link:hover {
 border-bottom: 2px solid #1f488a;
 color: #000;
 text-decoration: none;
}
.sign-in-link:hover{
 border-bottom:0 !important;
 color: #bc171d !important;
}
button.header-blue-btn {
    background: #bc171d;
    border: none;
    color: #fff;
    padding: 4px 10px;
    margin-left: 17px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer !important;
}
.blue-appearance-btn {
  background-color: transparent;
  border: 0;
  color: $color-blue;
  cursor: pointer;
}

.blue-appearance-btn:hover {
  color: $color-light-blue;
  text-decoration: none;
  font-weight: bold;
}

.voilet-appearance-btn {
  background-color: transparent;
  border: 0;
  color:#bc1a1d;
}

.voilet-appearance-btn:hover {
  color:rgb(255,0,0);opacity:0.6;;
  text-decoration: none;
}

.sign-in-btn {
  background-color: transparent;
  border: 0;
  color:$color-blue;
  //padding-right: 20px;
  cursor: pointer;
}

.sign-in-btn:hover {
  color: $color-light-blue;
  text-decoration: none;
}



.new-note-btn {
  color: white;
  background-color: $color-blue;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.btn-width {
  width: 100%;
}

/* ---------------------------------------------------- Nav Bar ---------------------------------------------------- */

// .navbar {
//   background-color: $color-white;
//   -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 -8px 4px 0 rgba(0, 0, 0, 0.11);
//   -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 -8px 4px 0 rgba(0, 0, 0, 0.11);
//   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 -8px 4px 0 rgba(0, 0, 0, 0.11);
//   width: 100%;
//   z-index: 10000;
//   padding: 0.5rem 4rem !important;
//   padding-bottom: 0 !important;


// }

.navbar-brand {
  color: $color-white;
}
.about_us_notes_path .profile-dashboard {
    padding-top: 20px;
    margin-bottom: -29px;
    display: none;
}
/*.nav-spacing {
  height: 50px;
}*/

.search-bar-notes {
  border: 2px solid #8093bb;
    width: 274px;
    height: 40px;
    position: relative;
    left: auto;
   -webkit-box-shadow: 0px 1px 7px 0px rgba(59,89,151,0.29);
  -moz-box-shadow: 0px 1px 7px 0px rgba(59,89,151,0.29);
   box-shadow: 0px 1px 7px 0px rgba(59,89,151,0.29);
}

/* ---------------------------------------------------- Profile Links ---------------------------------------------------- */

.profile-links {
  color: $color-blue;
}

a.profile-links:active {
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: thick $color-blue solid;
}

.current {
  text-decoration: none;
  font-weight: 700;
  padding-bottom: 8px;
  border-bottom: 2px $color-blue solid;
}

a.profile-links:hover {
  color: $color-blue;
  font-weight: 700;
  text-decoration: none;
  padding-bottom: 8px;
  border-bottom: 2px $color-blue solid;
}

.note-count {
  color: $color-blue;
}

.picnotes-font {
  font-size: 20px;
  font-weight: 700;
  color: $color-blue;
}

/* ---------------------------------------------------- Intro Modal ---------------------------------------------------- */

#introModal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(70, 70, 70, 0.7);
  z-index: 9;
}

.introModalStyle {
  width: 850px;
  min-width: 250px;
  max-height: 615px;
  position: absolute;
  top: 320px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  border: thin $color-white solid;
  border-radius: 10px;
}

.mobile-easy {
  display: none;
}

.intro-image {
  width: 200px;
  // padding-bottom: 20px;
  // border-bottom: 1px $color-red solid;
  margin-bottom: 10px;
}

@media only screen and (max-width: 800px) {
  .introModalStyle {
    width: 600px;
  }

  .header-link-pading{

  }
}


@media only screen and (max-width: 600px) and (min-width: 320px){
  .modal-header-information-content {
    flex-basis: 65%;
     justify-content: center;
    text-align: right;
     display: flex;}
  .text-right{
    text-align:center !important;

  }
  .introModalStyle {
    width: 300px;
    top: 235px;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 440px;
  }
/* .row{
   display: flex;
   flex-wrap: wrap;
   margin-right: 20px;
   margin-left: -66px;
   margin-top: -44px;
   padding: -2;
   //width: 78px;

}*/

  .col-sm-4{
    position: relative;
    width: 39%;
    min-height: 20px;
    padding-right: 0px;
    padding-left: 4px;
    margin-top: 3px;
  }
  .middle {
    transition: 5.5s ease;
    opacity: 0;
    position: absolute;
    top: 51%;
    left: 42%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .desktop-easy {
    display: none;
  }
  .mobile-easy {
    display: block;
  }
  .margin-for-mobile {
    margin-top: 10px;
  }
  .img-thumbnail {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
  }
}

/* Forms */

.form-control {
  border-color: $color-blue;
}

.image-upload-box {
  border: thin $color-blue solid;
  padding: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

/* ---------------------------------------------------- about-us ---------------------------------------------------- */
.scrollspy-example {
  position: relative;
  height: 500px;
  overflow: auto;
}

.scrollspy-community {
  position: relative;
  height: 420px;
  overflow: auto;
}

/* ---------------------------------------------------- footer ---------------------------------------------------- */



.footer {

  left: 0;
  bottom: 0;
  width: 100%;
  //background-color: #303030;
  color: white;
  text-align: right;
  height: 50px;

  background-color: white;
  box-shadow: -1px 3px 7px 0px #666;
  width: 100%;
  //position: fixed;
  z-index: 10000;
}

.footer-color {
  color: #230e07;
}

a.pfooter-color:active {
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: thick #ff5468 solid;
}

.fo-bold {
  text-decoration: none;
  font-weight: 900;
  color: #bc1a1d;
}

.about-us-col-sm-3 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 83px;
  padding-left: 52px;
}

.bold {
  font-weight: bold;
}

.col-sm-9 {
  padding-right: 314px;
}

.vertical-line {
  padding-left: 85px;
  border-left: 1px solid #ccc;

}

.center-align {
  text-align: center;
}

.contact-us-form-box {
  max-width: 500px;
  margin: auto;
  padding: 50px;
  background: #ffffff;
  border: 5px solid #f2f2f2;
}

.font-size-h4 {
  font-size: 25px;
}

.footer-row {
  padding-top: 10px;
}

.font-size-h5 {
  font-size: 25px;
}
.contact-us{
  font-size: 18px;
}
.mobile-display{
  display: none;
}

.full-display{

}

.img-logo-responsive{
  padding-right: 16px;
  width: 110px;
  margin-right: auto;
  margin-left: auto;
}

.signup-modal {
  position: fixed;
  top: 160px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  outline: 0;
}

@media only screen and (max-width: 600px) {
  .col-sm-9 {
    padding-right: 0px;
  }


  .signup-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
  }
  .vertical-line {
    //padding-left: 30px;
    border-left: 0px;

  }
  .about-us-col-sm-3 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 31px;
    padding-left: 52px;
  }
  .contact-us-form-box {
    max-width: 304px;
    margin: auto;
    padding: 17px;
    background: #ffffff;
    border: 5px solid #f2f2f2;
  }
  .footer-row {
    padding-top: 0px;
  }
  p {
    font-size: 18px;
  }

  .font-size-h4 {
    font-size: 20px;
  }

  .font-size-h5 {
    font-size: 19px;
  }
  .contact-us{
    font-size: 14px;
  }
  .header-link-pading{

  }

  .full-display{
    display: none;
  }
  .mobile-display{
    display: block;

  }

}

/* ---------------------------------------------------- header ---------------------------------------------------- */
.header-link-pading{
  margin-left: -273px;
  margin-right: 38px;
}

/* ---------------------------------------------------- Mobile-nav ---------------------------------------------------- */


.topnav {
  overflow: hidden;
  /*background-color: #333;*/
  background-color: white;
  box-shadow: 0 8px 6px -6px #666;
  width: 100%;
  position: fixed;
  z-index: 10000;
}

.topnav a {
  //float: left;
  display: block;
  color: $color-grey;
  //text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: black;
}

.btn:focus, .btn.focus{
  box-shadow: none;
}



.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .facebook-button{
    font-size: 13px;
    margin-left: 62%;

  }
  #introModal {
    position: fixed;
    width: 100vw;
    height: 230vh;
    background-color:rgba(70, 70, 70, 0.7);
    z-index: 9;
    margin-top: -73px;
  }

  .topnav a.icon {
    float: right;
    display: block;
    padding-top: 11px;
    margin-top: 9px;
    margin-right: 4px;
    position: absolute;
    left: 11px;
    top: 0;
  }
  .img-logo-responsive{
    padding-right: 16px;
    width: 114px;
    margin-right: auto;
    margin-left: -11px;


  }
}



@media screen and (max-width: 600px) {
  .topnav.responsive {
    .mobile-button-header {
      padding-left: 0px;
    }
  }

  .topnav.responsive .icon {
    position: absolute;
    left: 11px;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .sign-in-link {
    background-color: transparent;
    border: 0;
    color: #428bca;
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer !important;
  }

  .header-blue-btn {
    color: white;
    background-color: #3b5998;
    font-size: 11px;
    text-transform: uppercase;
    border: thin #3b5998 solid;
    border-radius: 5px;
    padding: 6px 10px;
    font-weight: bold;
    cursor: pointer !important;
  }

  input#search {
    width:54%;
    border-radius: 25px;
    padding-right: 35px;
  }

  #searchtest {
    background-color: white;
    height: 26px;
    border: none;
    border-radius: 25px;
  }
}
.sign-up-button{

}

.iphone-screen{
  padding-left: 0px;
}
//.img-logo-responsive{
//  padding-right: 16px;
//  width: 120px;
//  margin-right: auto;
//  margin-left: auto;
//}

@media screen and (max-width: 330px) {
   .iphone-screen{
  padding-left: 0px;
  }

  .sign-up-button{
    margin-left: 9px;
  }
  .img-logo-responsive{
    //padding-right: 16px;
    width: 120px;
    margin-right: auto;
    margin-left: -60px;
    padding-left: 12px;
    padding-right: 25px;


  }
}
  //-----------------------------------------------------------Chat--------------------------------------------------------------


.container-chat {
  max-width: 1000px;
  margin: auto;
}

img {
  max-width: 100%;
}

.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%;
  border-right: 1px solid #c4c4c4;
}

.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}

.top_spac {
  margin: 20px 0 0;
}

.recent_heading {
  float: left;
  width: 40%;
}

.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%;

}

.headind_srch {
  padding: 10px 29px 10px 20px;
  overflow: hidden;
  border-bottom: 1px solid #c4c4c4;
}

.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}

.srch_bar input {
  border: 1px solid #cdcdcd;
  border-width: 0 0 1px 0;
  width: 80%;
  padding: 2px 0 4px 6px;
  background: none;
}

.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}

.srch_bar .input-group-addon {
  margin: 0 0 0 -27px;
}

.chat_ib h5 {
  font-size: 15px;
  color: #464646;
  margin: 0 0 8px 0;
}

.chat_ib h5 span {
  font-size: 13px;
  float: right;
}

.chat_ib p {
  font-size: 14px;
  color: #989898;
  margin: auto
}

.chat_img {
  float: left;
  width: 11%;
}

.chat_ib {
  //float: left;
  margin-top: 1px;
  padding: 14px 0 0 15px;
  width: 94%;
}

.chat_people {
  overflow: hidden;
  clear: both;
}

.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}

.inbox_chat {
  height: 650px;
  overflow-y: scroll;
}

.active_chat {
  background: #ebebeb;
}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}

.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
}

.received_withd_msg p {
  //background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}

.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}

.received_withd_msg {
  width: 57%;
}

.mesgs {
  float: left;
  padding: 0px 15px 0 25px;
  width: 60%;
}

.sent_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0;
  color: #fff;
  padding: 5px 10px 5px 12px;
  width: 100%;
}

.outgoing_msg {
  overflow: hidden;
  margin: 26px 0 26px;
}

.sent_msg {
  float: right;
  width: 46%;
}

.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {
  border-top: 1px solid #c4c4c4;
  position: relative;
}

.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}

.messaging {
  padding: -18px 0 50px 0;
}

.msg_history {
  height: 516px;
  overflow-y: auto;
}

.introChat {
  width: 850px;
  min-width: 250px;
  max-height: 915px;
  position: absolute;
  top: 380px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  border: thin $color-white solid;
  border-radius: 10px;
}

//-----------------------------------------------------------Chat--------------------------------------------------------------
.new-msg-header {
  margin-top: -102px;
  margin-left: -10px;
  height: 10px;
  width: 10px;
  background-color: #ff0401f0;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 20px;
}


.padding-chat {
  padding: 20px;
  padding-top: 215px;
  width: 742px;
  padding-top: 147px;
}
#introModelChat {
  //position: fixed;
  //width: 100vw;
  //height: 100vh;
  //background-color: rgba(70, 70, 70, 0.7);
  //z-index: 9;
}

.dot {
  margin-top: -52px;
  margin-left:  -77px;
  height: 10px;
  width: 10px;
  background-color: #08b608f0;
  border-radius: 50%;
  display: inline-block;
}


.margin-left-chat{
  margin-left: -51px;

}


.img-chat{
  margin-left: 211px;
  margin-top: -40px;
}

.model-for-mobile{

}
@media screen and (max-width: 600px) {
  .chat_ib h5 {
    font-size: 15px;
    color: #464646;
    margin: 43px 0px 6px 6px;
  }

  .new-msg-header {
    margin-top: -102px;
    margin-left: -3px;
    height: 10px;
    width: 10px;
    background-color: #ff0401f0;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 0px;
  }

.chat_list{
border-bottom: 1px solid #c4c4c4;
margin: 0px;
padding: 14px 1px 4px}

  .chat_ib{
    margin-top: 25px;
    padding: 14px 0 0 15px;
    width: 73%;
  }


  .received_withd_msg {
    width: 117%;
  }
  .margin-left-chat{
    margin-left: -28px;

  }


  .padding-chat {
    padding: 20px;
    padding-top: 215px;
    margin-left: 43px;
    margin-right: 211px;
    padding-left: 215px;
    padding-right: 55px;
  }

  .model-for-mobile{
    display: none;
  }

  .wrapper {
    text-align: center;

  }
}



.new-msg {
  margin-right: 53px;
  margin-left: 60px;
  /* padding-top: 8px; */
  text-decoration: none;
  font-weight: 700;
  /* padding-bottom: 8px; */
  border-bottom: thick #05a20d solid;
  border-radius: 50%;
}



.blue-appearance-btn-in-model {
  background-color: transparent;
  border: 0;
  color: #3b5998;
  cursor: pointer;
  /* position: absolute;*/
  top: 4px;
  right: 7px;
}
button.blue-appearance-btn i.fa.fa-search {
    /*position: absolute;*/
    top: 10px;
    right: 6px;
}



.mobile-button-header {
  padding-left: 73px;
}


.wrapper-for-serch {
  text-align: right;

}
.mobile-list-align{
  padding-bottom: 1px;
  padding-top: 0;
  padding-left: 24px;
}
//=====================================model-for-mobile-view========================
.herder-bottom-shadow{
  box-shadow: 0 8px 6px -6px #666;
}


//=========================================profile dropdown===========================
// .dropdown-menu {
//   position: absolute;
//   right: 0;
//   left: auto;
//   min-width: 6rem;
//   margin: 0.125rem 4px 0;
//   padding-left: 5px;
// }
.fa{
  color: #3b5998;
}

.facebook-button{
  border-bottom-width: 0px;
  margin-bottom: 0px;
  padding-bottom: 7px;
  padding-top: 7px;
  padding-left: 6px;
  padding-right: 8px;
  border-left-width: 4px;
  margin-left: 122px;
}



// .btn {
//   width: 100%;
//   padding: 12px;
//   border: none;
//   border-radius: 4px;
//   margin: 5px 0;
//   opacity: 0.85;
//   display: inline-block;
//   font-size: 17px;
//   line-height: 20px;
//   text-decoration: none; /* remove underline from anchors */
// }


.btn:hover {
  opacity: 1;
}
.fb {
  background-color: #3B5998;
  color: white;
}
.note-container {
  position: relative;
}

.image {
  opacity: 1;
  display: block;
  width: auto;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 73%;
  left: 65%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.note-container:hover .image {
  opacity: 100%;
}

.note-container:hover .middle {
  opacity: 1;
}

//.text {
//  background-color: #ffffff99;
//  color: white;
//  font-size: 16px;
//  padding: 0px 0px;
//}




.search-bar #searchtest {
    background-color: white;
    border: none;
    border-radius: 0;
    position:absolute;
    top: 6px;
    left: 27px;
    color: #bababa;
}

.search-bar select#searchtest:hover{
  color: #000;
}


.logo-box-setion {
    width: 15%;
    float: left;
}
.listing-setion-serh-box{
  width:auto;
  float: left;
  text-align: right;
}

.item-box-listing-setion{
  width: auto;
  float: left;
  text-align: right;
}

.modal-dialog {
    margin-top: 112px !important;
}

.form-control:focus{
      box-shadow: none;
}

.dropdown-menu {left: initial; right: 0;}
/*.modal.community-learners-modal-dialog { z-index: 9999999;}*/
.header{position: fixed; left: 0; right: 0; background: #fff; z-index: 9999999;top:0;}
.martop-80{margin-top:80px;}



@media only screen and (max-width: 764px){
.community-learners-modal-dialog .modal-content {}
.community-learners-modal-dialog .row {margin: 0;}
.community-learners-modal-dialog .row img.img-learner {width: 60%;clear: both;}
.community-learners-modal-dialog .modal-footer {width: 100%; display:block !important; position: absolute; top: 3%; text-align: center;}
.community-learners-modal-dialog .modal-footer button {margin: 0;float: initial;position: initial;top: inherit;margin: 0 0 8px 0;}
.community-learners-modal-dialog .modal-content .modal-header {}
.community-learners-modal-dialog .modal-content .modal-header button.close span {padding:0 4px;}
.community-learners-modal-dialog .bg-grad {bottom: -33px;}
.community-learners-modal-dialog .modal-header{z-index: 99;}
.hamburger-menu .menu__btn {display: none; right: 0;}
.hamburger-menu {display: none;}
.navbar-nav {  line-height:25px;}
section.contact-us-page .card{width: 100%;}
.about_us_notes_path .edu-sec button.btn-bottom-request.btn-browsing.sign,
.about_us_notes_path .edu-sec a.btn-bottom-request.sigup.start{width: 100%;line-height: initial;height: auto;display: block;}
}

@media only screen and (max-width: 564px){
 .btn-bottom-request{width:80% !important;}
 .note-container:not(:nth-child(3n)) { margin-right: 0;}
.note-container {    flex-basis: 44%; margin: 3% !important;}
.navbar-nav { line-height: 45px;}
.about_us_notes_path .btn-browsing{margin: 15px 30px;}
.btn-submit { width: 100%; padding: 8px;  margin: 15px 0 60px; font-size: 15px;}
header .bg-shadow {padding-right: 15px !important;  padding-left: 15px !important;}

}
.max-width-543-per{
  max-width: 543%
}
.margin-left: 211px; margin-top: -40px;